# Project Title: Data Engineering Capstone Project
## Author: Raúl Antón Cuadrado.

Contact me at 
- raulanton@gmail.com
- https://remotefrog.com/hello or https://remotefrog.com/hola

## Project Summary

*The project lives in a Github repo https://github.com/rantoncuadrado/udacity_capstone_project/
*The project scope and definitions are in https://github.com/rantoncuadrado/udacity_capstone_project/blob/main/scope.md
*The datasources detailed definition are in https://github.com/rantoncuadrado/udacity_capstone_project/blob/main/Datasources%20Description.md

In [1]:
## NOTES on installing a pip package in the current Jupyter kernel
#import sys
#!{sys.executable} -m pip install s3fs
#!{sys.executable} -m pip install boto
#!{sys.executable} -m pip install boto3
#!{sys.executable} -m pip install pyspark

In [1]:
## IMPORTS 

import pandas as pd

from datetime import datetime

from s3_local_io import *
from create_parquet_tables import *
from data_quality_checks import *

from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col, count, lit, when, max, lower, countDistinct

In [2]:
## Global DEFINITIONS

# URL and PATHS to data
bucket_name = 'raul-udacity'
bucket_parquet_path ='/parquet/'
bucket_path = 's3a://'+bucket_name+'/'
local_path = './input_files/'
local_parquet_path = './input_files/parquet_files/'
# For context s3a vs s3 explanation https://stackoverflow.com/questions/33356041/technically-what-is-the-difference-between-s3n-s3a-and-s3

# FILENAMES
data_bares = 'bares.csv'
data_restaurantes = 'restaurantes.csv'
data_cafeterias = 'cafeterias.csv'

data_asociaciones = 'AsociacionesJCyL.csv'
data_clubes_deportivos = 'Clubes deportivos.csv'

data_bibliotecas = 'Directorio de Bibliotecas de Castilla y León.json'
data_museos = 'Directorio de Museos de Castilla y León.json'

data_poblacion = 'Cities population per gender age.csv'

# Other available data/filenames we decided not to use
# Poblacion municipio sexo relacion nacimiento residencia.json
# Municipios Origen Nacimiento.csv

# 1.- DATA SOURCES PREPARATION

## 1.1.- Copy Files from S3 to local filesystem

There are 2 options for the data sources (csv and json files) 
1) We can use files in S3
2) We can work on local files (This is the default option to avoid s3 costs). IN this case, we need to copy s3 files to local.

In [4]:
## COPY FILES FROM s3 TO LOCAL
## This step is not needed if working with s3 files
## This step is not needed if they are already copied.

# copy_files_s3_to_local(bucket_name, local_path)

## 1.2.- Creation of the Spark Session

I'll use Spark dataframes to gather and clean the data and later to save the results in parquet files
It would work both over s3 or in local filesystem

In [3]:
# Create an SPARK SESSION 

spark_session = SparkSession \
        .builder \
        .appName("Castilla y Leon -> Fact Tables") \
        .getOrCreate()


# This is needed just if we use spark on s3
#spark_session.sparkContext._jsc.hadoopConfiguration().set("fs.s3a.aws.credentials.provider","org.apache.hadoop.fs.s3a.SimpleAWSCredentialsProvider")
#spark_session.sparkContext._jsc.hadoopConfiguration().set("fs.s3a.access.key",os.environ['AWS_ACCESS_KEY_ID'])
#spark_session.sparkContext._jsc.hadoopConfiguration().set("fs.s3a.secret.key",os.environ['AWS_SECRET_ACCESS_KEY'])

# 2.- GARITOS TABLE
Garitos is the spanish word I used to comprise bars, restaurants, cafés and maybe other kind of related businesses in the future.

## 2.1.- Gather Bars table, Restaurants table, Cafes table and puting them together into a SparkDF Garitos.
These 3 files share same schema

In [4]:
sparkdf_garitos=create_garitos(spark_session,local_path,[data_bares,data_restaurantes,data_cafeterias])

# 3.- CITY - POSTAL CODE TABLE.  

We suppose city/postal code table is not available and we infer it from the info we have in garitos table 
Goal: we'll make a parquet table available.

In [6]:
sparkdf_postal_codes=create_postal_code(sparkdf_garitos)

In [7]:
df=sparkdf_postal_codes.toPandas()
df.describe(include='all')

       county    city postal_code
count    2881    2881        2881
unique      9    1730        2025
top      León  Zamora       24000
freq      519      33          23

In [7]:
toparquet_postal_codes(spark_session,local_parquet_path,sparkdf_postal_codes)

## 2.2.- Garitos table Quality Check and Wrangle/Cleanup

### 2.2.1.- Garitos table. Check for null values in key columns

In [18]:
##CHECK FOR NULL VALUES IN KEY COLUMNS
check_sparkdf_not_nulls(sparkdf_garitos,['name','county','city','garito_kind'])

Checking DataFrame. No null values found in column name
Checking DataFrame. No null values found in column county
Checking DataFrame. No null values found in column city
Checking DataFrame. No null values found in column garito_kind

True

### 2.2.2.- Garitos table. Check for duplicate values.

In [11]:
##WE SHOULD NOT CHECK FOR DUPES AS DUPES ARE PERFECTLY OK
## THey mean several bar/restaurant/cafes with the same name in a given city
## This happens with Burguer King and similars. 
## An example here:

a=sparkdf_garitos.select("*").groupBy('name','county','city','garito_kind') \
    .agg(count("name").alias("Total")) \
    .orderBy("Total", ascending=False)

a.head(10)

[Row(name='BURGER KING', county='Valladolid', city='Valladolid', garito_kind='restaurantes', Total=8),
 Row(name='TELEPIZZA', county='Valladolid', city='Valladolid', garito_kind='bares', Total=6),
 Row(name='LA BODEGUILLA', county='León', city='León', garito_kind='bares', Total=5),
 Row(name='GARCIA', county='León', city='León', garito_kind='bares', Total=5),
 Row(name='EL PASO', county='Valladolid', city='Valladolid', garito_kind='bares', Total=4),
 Row(name='TELEPIZZA', county='Burgos', city='Burgos', garito_kind='bares', Total=4),
 Row(name='BERTIZ', county='Burgos', city='Burgos', garito_kind='cafeterias', Total=4),
 Row(name='BURGER KING', county='León', city='León', garito_kind='restaurantes', Total=4),
 Row(name='PAN EL VISO', county='Zamora', city='Zamora', garito_kind='cafeterias', Total=4),
 Row(name='BURGER KING', county='Burgos', city='Burgos', garito_kind='restaurantes', Total=4)]

### 2.2.3.- Garitos table Wrangling: we can have null postal codes, but we'll try to guess and fill them when possible.

In [36]:
## GUESS NULL POSTAL CODE WHEN POSSIBLE AND COMPLETE THESE ROWS

# We could have rows with null postal codes. IN these cases we'll try to find the one corresponding with
# the county and city in the postal code table (when there is just one for that city) and
# we'll complete the row with the postal code

check_sparkdf_not_nulls(sparkdf_garitos,['postal_code'])

Checking DataFrame. I found null values in column postal_code

False

In [37]:
# We found rows with null postal_code so we put all these rows in a spark dataframe

sparkdf_garitos_pc_null=sparkdf_garitos.select(
            '*'
            ).where(col('postal_code').isNull())

sparkdf_garitos=sparkdf_garitos.select(
            '*'
            ).where(col('postal_code').isNotNull())

sparkdf_garitos_pc_null.head(2)

[Row(name='PUB EBANO', address='C/ JUAN FERRERO Nº 80', county='León', city='Valderrueda', postal_code=None, garito_kind='bares'),
 Row(name='SILVAN', address=None, county='León', city='Torre del Bierzo', postal_code=None, garito_kind='bares')]

In [38]:
# We extract the list of cities with unique postal code (The only ones we can use to guess postal codes)

cities_with_unique_postal_codes=sparkdf_postal_codes.select(
            'city',
            'postal_code'
            ).groupBy("city") \
            .agg(count('postal_code').alias('postal_codes'),
                 max('postal_code').alias('postal_code')) \
            .orderBy('city', ascending=True) \
            .where("postal_codes=1")


cities_with_unique_postal_codes.show(5)

+----------------+------------+-----------+
|            city|postal_codes|postal_code|
+----------------+------------+-----------+
|          Abades|           1|      40141|
|Abarca de Campos|           1|      34338|
|          Abejar|           1|      42146|
|         Abusejo|           1|      37640|
|  Adrada de Haza|           1|      09462|
+----------------+------------+-----------+
only showing top 5 rows

In [39]:
# Completing postalcodeless garitos with postal code when there is only one / city

sparkdf_garitos_pc_fixed = sparkdf_garitos_pc_null.join(
    cities_with_unique_postal_codes,
    sparkdf_garitos_pc_null.city == cities_with_unique_postal_codes.city,
    'left').select(
        'name',
        'address',
        'county',
        sparkdf_garitos_pc_null.city,
        cities_with_unique_postal_codes.postal_code,
        'garito_kind'
    )

print(sparkdf_garitos_pc_fixed.show(15))
# (It seems we were just able to fix 1)

+--------------------+--------------------+---------+--------------------+-----------+-----------+
|                name|             address|   county|                city|postal_code|garito_kind|
+--------------------+--------------------+---------+--------------------+-----------+-----------+
|           PUB EBANO|C/ JUAN FERRERO N...|     León|         Valderrueda|       null|      bares|
|              SILVAN|                null|     León|    Torre del Bierzo|       null|      bares|
|              FARINA|C/ ANTONIO ALMARZ...|    Ávila|               Ávila|       null|      bares|
|              AGUEDA|CAMINO DEL PEREGR...|     León|                León|       null|      bares|
|               VIFER| MAESTRO URIARTE, 25|     León|                León|       null|      bares|
|           LA CHISPA|C/ OBISPO MONTOYA...| Palencia|             Grijota|      34192|      bares|
|              RAMSES|CARRETERA ESTACIO...|    Ávila|         Sanchidrián|       null|      bares|
|         LA PETENERA|     CL/ CALZADAS, 1|   Burgos|              Burgos|       null|      bares|
|               OASIS|      LA VICTORIA, 4|     León|Valencia de Don Juan|       null|      bares|
|    MESON LA BARRACA|AVDA. RODRÍGUEZ P...|     León|                León|       null|      bares|
|            LA PLAZA|     PZA. MAYOR, S/N|     León|   Vegas del Condado|       null|      bares|
|MERCADO REGIONAL ...|CTRA. BURGOS-PORT...|Salamanca|           Salamanca|       null|      bares|
|             AVENIDA|GONZÁLEZ DE LAMA, 10|     León|                León|       null|      bares|
|              CASINO|PLAZA DE LA LEÑA,...|     León|          Villamañán|       null|      bares|
|           LA VUELTA|TRAVESIA DE SANTA...|    Ávila|Hoyo de Pinares (El)|       null|      bares|
+--------------------+--------------------+---------+--------------------+-----------+-----------+

None

In [40]:
sparkdf_garitos = (
        sparkdf_garitos.union(sparkdf_garitos_pc_fixed)
    )

### 2.2.4.- Garitos table. Example Queries.

In [7]:
# I want to practice with both dataframes and sparkdfs
# df shows here that there are addressless and postal_codeless
# garitos (garito= bar | restaurant | cafe) but no countyless or cityless
df=sparkdf_garitos.toPandas()
df.describe(include='all')

            name         address county        city postal_code garito_kind
count      22487           22426  22487       22487       22472       22487
unique     16100           21087      9        1730        2025           3
top     LA PLAZA  PLAZA MAYOR, 2   León  Valladolid       24003       bares
freq          87              20   4942        2668         369       15080

In [43]:
# Playing with Spark Data Frames. Most repeated names.
garitos_name_top = sparkdf_garitos \
    .select("name",'address') \
    .groupBy("name") \
    .agg(count("address").alias("Total")) \
    .orderBy("Total", ascending=False)
garitos_name_top.head(30)

[Row(name='LA PLAZA', Total=87),
 Row(name='AVENIDA', Total=55),
 Row(name='PLAZA', Total=47),
 Row(name='CENTRAL', Total=43),
 Row(name='TELEPIZZA', Total=41),
 Row(name='EL PASO', Total=36),
 Row(name='PISCINAS MUNICIPALES', Total=35),
 Row(name='LA TABERNA', Total=32),
 Row(name='EL RINCON', Total=32),
 Row(name='LA TERRAZA', Total=31),
 Row(name='BURGER KING', Total=31),
 Row(name='CASTILLA', Total=31),
 Row(name='EL CRUCE', Total=30),
 Row(name='LOS ARCOS', Total=30),
 Row(name='LA PARADA', Total=29),
 Row(name='EL PUENTE', Total=28),
 Row(name='LA BODEGUILLA', Total=27),
 Row(name='LA FUENTE', Total=27),
 Row(name='LOS ANGELES', Total=23),
 Row(name='EL MOLINO', Total=23),
 Row(name='EL PARQUE', Total=22),
 Row(name='MANOLO', Total=22),
 Row(name='LAS PISCINAS', Total=21),
 Row(name='LA CASONA', Total=21),
 Row(name='PISCINA MUNICIPAL', Total=21),
 Row(name='LA BODEGA', Total=21),
 Row(name='EL CASTILLO', Total=21),
 Row(name='EL REFUGIO', Total=20),
 Row(name='LA POSADA', Total=20),
 Row(name='PACO', Total=19)]

In [5]:
# Playing with Spark Data Frames. 
# Most repeated restaurant names

restaurante_name_top = sparkdf_garitos \
    .select("name",'address','garito_kind') \
    .where("garito_kind='restaurantes'") \
    .groupBy("name",) \
    .agg(count("address").alias("Total")) \
    .orderBy("Total", ascending=False)

print(restaurante_name_top.head(30))

[Row(name='BURGER KING', Total=27), Row(name='TELEPIZZA', Total=18), Row(name='LA POSADA', Total=12), Row(name='EL MOLINO', Total=10), Row(name='LA TABERNA', Total=10), Row(name='AVENIDA', Total=10), Row(name='LA CASONA', Total=10), Row(name="FOSTER'S HOLLYWOOD", Total=9), Row(name='EL CRUCE', Total=8), Row(name='LOS ARCOS', Total=7), Row(name='BURGUER KING', Total=7), Row(name='CASTILLA', Total=7), Row(name='PLAZA', Total=7), Row(name="DOMINO'S PIZZA", Total=7), Row(name="MC DONALD'S", Total=7), Row(name='EL CASTILLO', Total=7), Row(name='LA PARADA', Total=7), Row(name='LA TERRAZA', Total=7), Row(name='CASA PACO', Total=6), Row(name='EL JARDIN', Total=6), Row(name='EL PASO', Total=6), Row(name='LA GRAN MURALLA', Total=6), Row(name='LA ENCINA', Total=6), Row(name='CENTRAL', Total=6), Row(name='LAS NIEVES', Total=6), Row(name='EL CAPRICHO', Total=6), Row(name='LA MURALLA', Total=6), Row(name='EL MESON', Total=6), Row(name='EL MIRADOR', Total=6), Row(name='HOGAR TERCERA EDAD', Total=5)]

In [51]:
# Playing with Spark Data Frames. 
# Counties order by number of cafeterias 

cafe_name_top = sparkdf_garitos \
    .select("county",'address') \
    .where("garito_kind='cafeterias'") \
    .groupBy("county",) \
    .agg(count("address").alias("Total")) \
    .orderBy("Total", ascending=False)

print(cafe_name_top.head(30))

[Row(county='León', Total=317), Row(county='Salamanca', Total=315), Row(county='Valladolid', Total=230), Row(county='Burgos', Total=179), Row(county='Ávila', Total=141), Row(county='Zamora', Total=91), Row(county='Segovia', Total=59), Row(county='Soria', Total=59), Row(county='Palencia', Total=54)]

In [54]:
# Playing with Spark Data Frames. 
# Order cities in a county (Burgos) by numero of garitos, but showing each type
burgos_top = sparkdf_garitos \
    .select("city",'address',
           when(sparkdf_garitos['garito_kind'] == 'cafeterias', 1).alias("is_cafe"),
           when(sparkdf_garitos['garito_kind'] == 'bares', 1).alias("is_bar"),
           when(sparkdf_garitos['garito_kind'] == 'restaurantes', 1).alias("is_restaurante")
           ) \
    .where("county='Burgos'") \
    .groupBy("city") \
    .agg(count("is_cafe").alias("cafes"), 
         count("is_bar").alias("bars"),
         count("is_restaurante").alias("restaurants"),
         count("address").alias("total"),
        ) \
    .orderBy("Total", ascending=False)


burgos_top.head(30)

[Row(city='Burgos', cafes=102, bars=765, restaurants=244, total=1110),
 Row(city='Aranda de Duero', cafes=19, bars=168, restaurants=62, total=249),
 Row(city='Miranda de Ebro', cafes=14, bars=177, restaurants=42, total=233),
 Row(city='Medina de Pomar', cafes=3, bars=67, restaurants=20, total=90),
 Row(city='Villarcayo de Merindad de Castilla la Vieja', cafes=7, bars=42, restaurants=16, total=65),
 Row(city='Briviesca', cafes=3, bars=42, restaurants=13, total=58),
 Row(city='Lerma', cafes=2, bars=19, restaurants=22, total=43),
 Row(city='Valle de Mena', cafes=2, bars=29, restaurants=13, total=41),
 Row(city='Espinosa de los Monteros', cafes=0, bars=25, restaurants=11, total=36),
 Row(city='Salas de los Infantes', cafes=0, bars=20, restaurants=9, total=29),
 Row(city='Roa', cafes=1, bars=18, restaurants=6, total=25),
 Row(city='Belorado', cafes=3, bars=12, restaurants=10, total=25),
 Row(city='Quintanar de la Sierra', cafes=0, bars=18, restaurants=7, total=24),
 Row(city='Melgar de Fernamental', cafes=0, bars=17, restaurants=6, total=23),
 Row(city='Valle de Sedano', cafes=0, bars=8, restaurants=14, total=21),
 Row(city='Huerta de Rey', cafes=0, bars=14, restaurants=5, total=19),
 Row(city='Villadiego', cafes=0, bars=15, restaurants=5, total=18),
 Row(city='Valle de Tobalina', cafes=0, bars=10, restaurants=8, total=18),
 Row(city='Covarrubias', cafes=0, bars=9, restaurants=9, total=18),
 Row(city='Trespaderne', cafes=3, bars=12, restaurants=2, total=17),
 Row(city='Oña', cafes=0, bars=10, restaurants=6, total=16),
 Row(city='Merindad de Montija', cafes=0, bars=10, restaurants=7, total=14),
 Row(city='Valle de Valdebezana', cafes=0, bars=9, restaurants=8, total=14),
 Row(city='Castrojeriz', cafes=1, bars=7, restaurants=7, total=14),
 Row(city='Pancorbo', cafes=1, bars=7, restaurants=4, total=12),
 Row(city='Ibeas de Juarros', cafes=0, bars=7, restaurants=5, total=12),
 Row(city='Santo Domingo de Silos', cafes=0, bars=4, restaurants=7, total=11),
 Row(city='Villalmanzo', cafes=1, bars=5, restaurants=5, total=11),
 Row(city='Valle de Losa', cafes=0, bars=8, restaurants=3, total=11),
 Row(city='Condado de Treviño', cafes=1, bars=5, restaurants=4, total=10)]

### 2.2.5.- Garitos table --> Parquet TABLE.

In [19]:
## CLEANED UP GARITOS TO PARQUET 
toparquet_by_county_and_postcode(spark_session,local_parquet_path  + 'garitos/',sparkdf_garitos)

# 4.- SOCIAL TABLE
Social comprise any kind of associations, this including the special kind called sports associations (which information is in a different table / csv file).

## 4.1.- Gather associations and sport clubs tables and puting them together into a SparkDF for Social.
These 2 files share a similar schema

In [8]:
## One from s3 (To test) ant the other from local folder

sparkdf_social=create_social(spark_session,local_path,data_asociaciones, data_clubes_deportivos) 

sparkdf_social.head(5)

social Spark Data Frame was created;
  [Row(name='ASOCIACION DE JUBILADOS Y PENSIONISTAS VIRGEN DE LA PIEDAD', address='c/ Las Parras, 89', county='avila', city='EL BARRACO', postal_code='05110', sports='N/A', social_kind='association'), Row(name='PEÑA SAN MARCOS ', address='DE LAS FUENTES 10 ', county='avila', city='EL BARRACO', postal_code='05000', sports='N/A', social_kind='association')]

[Row(name='ASOCIACION DE JUBILADOS Y PENSIONISTAS VIRGEN DE LA PIEDAD', address='c/ Las Parras, 89', county='avila', city='EL BARRACO', postal_code='05110', sports='N/A', social_kind='association'),
 Row(name='PEÑA SAN MARCOS ', address='DE LAS FUENTES 10 ', county='avila', city='EL BARRACO', postal_code='05000', sports='N/A', social_kind='association'),
 Row(name='ASOCIACION DE JUBILADOS Y PENSIONISTAS DE SAN JUAN DEL OLMO SAN JUAN BAUTISTA', address='C/General Franco s/nº', county='avila', city='SAN JUAN DEL OLMO', postal_code='05145', sports='N/A', social_kind='association'),
 Row(name='ASOCIACION DEPORTIVO CULTURAL DE CAZADORES LA PICOTA', address='C/Piñonera nº 18', county='avila', city='CEBREROS', postal_code='05260', sports='N/A', social_kind='association'),
 Row(name='ASOCIACION CULTURAL -FORO 93-', address='AVDA. DE JOSE ANTONIO, 32 - 6', county='avila', city='EL HOYO DE PINARES', postal_code='05250', sports='N/A', social_kind='association')]

## 4.2.- Social table Quality Check and Wrangle/Cleanup

### 4.2.1.- Social table. Check for null values in key columns

In [135]:

sparkdf_museos = spark_session.read.options(multiLine=True).json(local_path+data_museos)

exp_df = sparkdf_museos.select('document.list.element.attribute')
exp_df2 = exp_df.select(monotonically_increasing_id().alias('library_id'), explode_outer('attribute').alias('next_evolution'))
exp_df3 = exp_df2.select(col('library_id'),explode('next_evolution').alias('next_evolution'))

fields=['Identificador','NombreOrganismo','Calle','CodigoPostal','Localidad_NombreLocalidad','Directorio Superior']

exp_df4=exp_df3.select(
    col('library_id'),
    col('next_evolution.name').alias('name'), 
    coalesce(col('next_evolution.valor'),
             col('next_evolution.LocalidadPadre'),
             col('next_evolution.string'),
             col('next_evolution.text')).alias('value'), 
    ).filter(col('name').isin(fields) == True)


exp_df5=exp_df4.select('*').groupBy("library_id").pivot('name').agg(collect_set('value')[0])

exp_df6=exp_df5.select(
    col('NombreOrganismo').alias('name'),
    col('Calle').alias('address'),
    col('Directorio Superior').alias('county'),
    col('Localidad_NombreLocalidad').alias('city'),
    col('CodigoPostal').alias('postal_code')
).withColumn("cultural_kind",lit('library')).distinct()

exp_df6.show(10)

+--------------------+--------------------+----------+-------------------+-----------+-------------+
|                name|             address|    county|               city|postal_code|cultural_kind|
+--------------------+--------------------+----------+-------------------+-----------+-------------+
|Museo Etnográfico...|Plaza de la Cruz, 4.|  Palencia|Cervera de Pisuerga|      34840|      library|
|Museo Pedagógico ...|    Plaza España, 7.|Valladolid|         Valladolid|      47001|      library|
|Espacio Informati...|C/ Martínez Campo...|   Segovia|            Segovia|      40001|      library|
|Domus Artium 2002...|Avda. Aldehuela s/n.| Salamanca|          Salamanca|      37003|      library|
|Centro de Interpr...|     Plaza Mayor, 1.|Valladolid|             Urueña|      47862|      library|
|Museo del Monaste...|Monasterio de Mad...|    Burgos|          Caleruega|      09451|      library|
|Martinete de la F...|        C/ Mayo, 15.|   Segovia|           Navafría|      40161|      library|
|Museo Específico ...|Paseo de Zorrilla...|Valladolid|         Valladolid|      47006|      library|
|Museo Etnológico ...|C/ Emilio García ...| Salamanca|      Puerto Seguro|      37488|      library|
|Aula Arqueológica...|  Calle María Vela 1|     Ávila|          Cardeñosa|       5320|      library|
+--------------------+--------------------+----------+-------------------+-----------+-------------+
only showing top 10 rows

In [9]:
##CHECK FOR NULL VALUES IN KEY COLUMNS
check_sparkdf_not_nulls(sparkdf_social,['name','county','city','social_kind'])

Checking DataFrame. No null values found in column name
Checking DataFrame. No null values found in column county
Checking DataFrame. No null values found in column city
Checking DataFrame. No null values found in column social_kind

True

### 4.2.2.-Social table. Check for duplicate values and WRANGLE result.

In [10]:
##CHECK FOR REPEATED VALUES IN KEY COLUMNS
# We can accept same name, even same name in same city (if it is a different kind
# of association), but not same name / same city / same kind
dupes=check_sparkdf_find_dupes(sparkdf_social,['name','county','city','social_kind'])

print(dupes.head(15))

[Row(name='ASOCIACION JUVENIL CULTURAL 15 DE AGOSTO ', county='segovia', city='MOZONCILLO', social_kind='association', count=2), Row(name='ASOCIACIÓN CÍRCULO PSICOANALÍTICO DE LEÓN', county='león', city='LEÓN', social_kind='association', count=2), Row(name='ASOCIACION JUVENIL EL RIO ', county='segovia', city='CARRASCAL DEL RÍO', social_kind='association', count=2), Row(name='ANULADO', county='zamora', city='ZAMORA', social_kind='sports_club', count=2), Row(name='ASOCIACIÓN CULTURAL LUCERNA', county='león', city='CARUCEDO', social_kind='association', count=2)]

In [11]:
## We see there are several duplicates, one of them name="ANULADO" (Means voided)
## makes us think we should find other ANULADO/VOIDED and remove all of them

sparkdf_social_voided = sparkdf_social.select('*').where("name='ANULADO'").show()

+-------+--------------------+----------+--------------------+-----------+--------------------+-----------+
|   name|             address|    county|                city|postal_code|              sports|social_kind|
+-------+--------------------+----------+--------------------+-----------+--------------------+-----------+
|ANULADO|                 XXX|valladolid|          VALLADOLID|      47000|FU001#FÚTBOL - FÚ...|sports_club|
|ANULADO|C/ CORUÑA DEL CON...|    burgos|     ARANDA DE DUERO|       9400|FU001#FÚTBOL - FÚ...|sports_club|
|ANULADO|                JJJJ|  palencia|CAMPORREDONDO DE ...|      34888|CI003#CICLISMO - ...|sports_club|
|ANULADO|      Avda principal|     ávila|NAVAS DEL MARQUES...|       5230|CA001#CAZA - PICH...|sports_club|
|ANULADO|           XXXXXXXXX| salamanca|           SALAMANCA|      37008|MT018#MOTOCICLISM...|sports_club|
|ANULADO|C/ CARTAJENA DE I...|    zamora| MORALES DE VALVERDE|      49697|CA001#CAZA - PICH...|sports_club|
|ANULADO|    XXXXXXXXXXXXXXXX|      león|VELILLA DE LA REI...|      24272|BC001#BALONCESTO ...|sports_club|
|ANULADO|     VVVVVVVVVVVVVVV|    zamora|              ZAMORA|      49166|GI001#GIMNASIA - ...|sports_club|
|ANULADO|                 XXX|     ávila|            CASILLAS|       5428|FU001#FÚTBOL - FÚ...|sports_club|
|ANULADO|                   C|    zamora|              ZAMORA|      49025|BM001#BALONMANO -...|sports_club|
|ANULADO|CALLE DE LA ADELF...|      león|TROBAJO DEL CAMIN...|      24010|AT001#ATLETISMO -...|sports_club|
+-------+--------------------+----------+--------------------+-----------+--------------------+-----------+

In [12]:
# changing name to ANULADO instead of removing the item seems a common practice in the sports_club 
# datasource. We get rid of all of them

sparkdf_social = sparkdf_social.select('*').where("name <> 'ANULADO'")

In [13]:
# Also, we want to remove other duplicates

print('Rows before removing duplicates',sparkdf_social.count())
sparkdf_social=sparkdf_social.dropDuplicates(['name','county','city','social_kind'])
print('Rows after removing duplicates',sparkdf_social.count())

Rows before removing duplicates 43738
Rows after removing duplicates 43734

### 4.2.3.- Social table Wrangling: check counties that are not valid. Guess those that can be guessed (soft typos) and remove the others.
Note: There are some cases of wrong counties containing special characters (like Ñ) that spoils out the parquet table creation as it would end in a hardly descriptive error.

In [14]:
# CHECK and remove wrong Counties as we are going to partition by county
print('Rows before removing duplicates',sparkdf_social.count())
sparkdf_social=clean_wrong_counties(sparkdf_social)
print('Rows after removing duplicates',sparkdf_social.count())


sparkdf_social.select("County").distinct().head(80)

[Row(County='león'),
 Row(County='ávila'),
 Row(County='segovia'),
 Row(County='palencia'),
 Row(County='soria'),
 Row(County='burgos'),
 Row(County='zamora'),
 Row(County='valladolid'),
 Row(County='salamanca')]

### 4.2.4.- Social table --> Parquet TABLE.

In [11]:

## CLEANED UP SOCIAL TO PARQUET (LOCAL)
toparquet_by_county_and_postcode(spark_session,local_parquet_path  + 'social/',sparkdf_social)

In [32]:
## CLEANED UP SOCIAL TO PARQUET (S3)

#bucket_name = 'raul-udacity'
#bucket_parquet_path ='/parquet/'
#Sparkdf_social.write.partitionBy("county","postal_code").parquet('s3a://'+bucket_name+bucket_parquet_path + "social/", mode="overwrite")

### 4.2.5.- Example queries to SOCIAL

In [17]:
## Sports / county
# https://stackoverflow.com/questions/57066797/pyspark-dataframe-split-column-with-multiple-values-into-rows#57080133

from pyspark.sql.functions import explode, regexp_replace, split

out=sparkdf_social.withColumn(
    "sports", 
    explode(split(col("sports"), "\|"))
).where("county='burgos'").select(
    col('sports')
    ).groupBy('sports').agg(count('sports').alias('sport_associations')) \
    .orderBy('sport_associations', ascending=False)



out.head(70)

[Row(sports='N/A', sport_associations=5423),
 Row(sports='', sport_associations=1102),
 Row(sports='CA005#CAZA - PERROS DE CAZA Y AGILITY#', sport_associations=385),
 Row(sports='CA013#CAZA - EDUCACIÓN CANINA#', sport_associations=385),
 Row(sports='CA006#CAZA - CETRERIA#', sport_associations=384),
 Row(sports='CA009#CAZA - TIRO A CAZA LANZADA#', sport_associations=384),
 Row(sports='CA001#CAZA - PICHON A BRAZO#', sport_associations=384),
 Row(sports='CA012#CAZA - PERDIZ CON RECLAMO#', sport_associations=384),
 Row(sports='CA014#CAZA - CAZA DE BECADAS#', sport_associations=384),
 Row(sports='CA008#CAZA - CAZA CON ARCO#', sport_associations=384),
 Row(sports='CA010#CAZA - CAZA FOTOGRAFICA Y VIDEO#', sport_associations=384),
 Row(sports='CA011#CAZA - COMPAK SPORTING#', sport_associations=384),
 Row(sports='CA004#CAZA - CAZA SAN HUBERTO#', sport_associations=384),
 Row(sports='CA007#CAZA - PAJAROS DE CANTO#', sport_associations=383),
 Row(sports='CA003#CAZA - RECORRIDOS DE CAZA#', sport_associations=383),
 Row(sports='CA002#CAZA - CAZA MENOR CON PERROS#', sport_associations=382),
 Row(sports='FU001#FÚTBOL - FÚTBOL#', sport_associations=160),
 Row(sports='FU002#FÚTBOL - FÚTBOL SALA#', sport_associations=152),
 Row(sports='CI003#CICLISMO - BICICLETA MONTAÑA (BTT)#', sport_associations=123),
 Row(sports='CI001#CICLISMO - CARRETERA#', sport_associations=121),
 Row(sports='CI010#CICLISMO - CICLOTURISMO#', sport_associations=120),
 Row(sports='CI005#CICLISMO - ADAPTADO CARRETERA#', sport_associations=119),
 Row(sports='CI007#CICLISMO - CICLO-CROSS#', sport_associations=119),
 Row(sports='CI006#CICLISMO - ADAPTADO PISTA#', sport_associations=119),
 Row(sports='CI009#CICLISMO - CICLISMO EN SALA#', sport_associations=119),
 Row(sports='CI002#CICLISMO - PISTA#', sport_associations=119),
 Row(sports='CI004#CICLISMO - BMX#', sport_associations=119),
 Row(sports='CI008#CICLISMO - TRIAL-BICI#', sport_associations=118),
 Row(sports='BC001#BALONCESTO - BALONCESTO#', sport_associations=96),
 Row(sports='AT003#ATLETISMO - RUTA#', sport_associations=92),
 Row(sports='AT001#ATLETISMO - PISTA#', sport_associations=92),
 Row(sports='AT004#ATLETISMO - MARCHA ATLÉTICA#', sport_associations=91),
 Row(sports='AT002#ATLETISMO - CAMPO A TRAVES#', sport_associations=90),
 Row(sports='MO002#MONTAÑA, ESCALADA Y SENDERISMO - SENDERISMO#', sport_associations=87),
 Row(sports='MO007#MONTAÑA, ESCALADA Y SENDERISMO - CARRERAS POR MONTAÑA#', sport_associations=84),
 Row(sports='MO010#MONTAÑA, ESCALADA Y SENDERISMO - EXCURSIONES, TRAVESIAS Y ACAMPADAS#', sport_associations=83),
 Row(sports='MO004#MONTAÑA, ESCALADA Y SENDERISMO - ESCALADA DEPORTIVA#', sport_associations=82),
 Row(sports='MO005#MONTAÑA, ESCALADA Y SENDERISMO - ESCALADA EN HIELO#', sport_associations=82),
 Row(sports='MO001#MONTAÑA, ESCALADA Y SENDERISMO - ALPINISMO#', sport_associations=82),
 Row(sports='MO008#MONTAÑA, ESCALADA Y SENDERISMO - RAQUETAS DE NIEVE#', sport_associations=81),
 Row(sports='MO006#MONTAÑA, ESCALADA Y SENDERISMO - RECORRIDOS POR BARRANCOS, CAÑONES Y DESFILADEROS#', sport_associations=81),
 Row(sports='MO009#MONTAÑA, ESCALADA Y SENDERISMO - ESQUI DE TRAVESÍA O DE MONTAÑA#', sport_associations=81),
 Row(sports='MO003#MONTAÑA, ESCALADA Y SENDERISMO - ESCALADAS EN ROCA#', sport_associations=80),
 Row(sports='CA016#CAZA - CAZA CIENTÍFICA#', sport_associations=57),
 Row(sports='MT003#MOTOCICLISMO - MOTO CROSS#', sport_associations=45),
 Row(sports='MT006#MOTOCICLISMO - SUPERCROSS (STADIUM MOTOCROSS)#', sport_associations=45),
 Row(sports='MT012#MOTOCICLISMO - SUPERMOTARD#', sport_associations=44),
 Row(sports='MT007#MOTOCICLISMO - MOTO-BALL#', sport_associations=44),
 Row(sports='MT010#MOTOCICLISMO - SPEEDWAY#', sport_associations=44),
 Row(sports='MT011#MOTOCICLISMO - TURISMO#', sport_associations=44),
 Row(sports='MT002#MOTOCICLISMO - ENDURO#', sport_associations=44),
 Row(sports='MT009#MOTOCICLISMO - MOTO NIEVE#', sport_associations=44),
 Row(sports='MT001#MOTOCICLISMO - VELOCIDAD#', sport_associations=44),
 Row(sports='MT014#MOTOCICLISMO - FREESTYLE#', sport_associations=44),
 Row(sports='MT004#MOTOCICLISMO - TRIAL#', sport_associations=44),
 Row(sports='MT005#MOTOCICLISMO - TRIAL INDOOR#', sport_associations=44),
 Row(sports='MT013#MOTOCICLISMO - QUADS#', sport_associations=44),
 Row(sports='MT008#MOTOCICLISMO - RAID (RALLY-TT)#', sport_associations=44),
 Row(sports='MT015#MOTOCICLISMO - RESISTENCIA (REGULARIDAD)#', sport_associations=43),
 Row(sports='TE002#TENIS - TENIS PLAYA#', sport_associations=42),
 Row(sports='PD001#PÁDEL - PÁDEL#', sport_associations=42),
 Row(sports='TE001#TENIS - TENIS#', sport_associations=42),
 Row(sports='AU007#AUTOMOVILISMO - AUTOCROSS#', sport_associations=42),
 Row(sports='AU011#AUTOMOVILISMO - KARTS#', sport_associations=42),
 Row(sports='AU002#AUTOMOVILISMO - CIRCUITO PERMANENTE#', sport_associations=41),
 Row(sports='AU010#AUTOMOVILISMO - 4X4 TRIAL#', sport_associations=41),
 Row(sports='AU008#AUTOMOVILISMO - VINTAGE#', sport_associations=41),
 Row(sports='AU006#AUTOMOVILISMO - GYMKHANAS#', sport_associations=41),
 Row(sports='AU005#AUTOMOVILISMO - SLALOM#', sport_associations=41),
 Row(sports='AU012#AUTOMOVILISMO - REGULARIDAD Y CONCENTRACIONES#', sport_associations=41)]

# 5.- CULTURAL TABLE

Cultural comprise libraries (bibliotecas), museums (museos) and it could also include more cases in the future. 
To mention that these tables inputs **are in JSON**

## 5.1.- Gather libraries (bibliotecas), museums (museos) and puting them together into a SparkDF for Cultural.

These 2 files share a similar schema

In [5]:
sparkdf_cultural=create_cultural_from_json(spark_session,local_path,[data_bibliotecas,data_museos])

In [5]:
sparkdf_cultural.head(10)

[Row(name='Biblioteca Pública Municipal de Valverde del Majano', address='C/ Real, 10', county='Segovia', city='Valverde del Majano', postal_code='40140', cultural_kind='Directorio de Bibliotecas de Castilla y León'),
 Row(name="Biblioteca Pública Municipal del Centro Cívico 'Río Vena' de Burgos", address='C/ Juan de Padilla, s/n - Centro Cívico, 1ª planta', county='Burgos', city='Burgos', postal_code='09006', cultural_kind='Directorio de Bibliotecas de Castilla y León'),
 Row(name='Biblioteca Pública Municipal de Villanueva del Campo', address='C/ Federico Arrazola, s/n', county='Zamora', city='Villanueva del Campo', postal_code='49100', cultural_kind='Directorio de Bibliotecas de Castilla y León'),
 Row(name='Centro de Documentación Europea. Valladolid', address='Pza. de Sta. Cruz, 5, 3ª planta', county='Valladolid', city='Valladolid', postal_code='47002', cultural_kind='Directorio de Bibliotecas de Castilla y León'),
 Row(name='Biblioteca de la Universidad de León', address='Campus de Vegazana, s/n', county='León', city='León', postal_code='24071', cultural_kind='Directorio de Bibliotecas de Castilla y León'),
 Row(name='Biblioteca Pública Municipal de Cabrerizos', address='Avda. del Manzano, s/n', county='Salamanca', city='Cabrerizos', postal_code='37196', cultural_kind='Directorio de Bibliotecas de Castilla y León'),
 Row(name='Biblioteca Pública Municipal de Toral de los Vados', address='Plaza de la Estación, s/n', county='León', city='Toral de los Vados', postal_code='24560', cultural_kind='Directorio de Bibliotecas de Castilla y León'),
 Row(name='Biblioteca Pública de Burgos', address='Plaza San Juan, s/n', county='Burgos', city='Burgos', postal_code='09004', cultural_kind='Directorio de Bibliotecas de Castilla y León'),
 Row(name="Biblioteca Pública Municipal 'Francisco Pino'", address="Centro Municipal 'José Luis Mosquera'. C/ Francisco Hernández Pacheco s/n", county='Valladolid', city='Valladolid', postal_code='47014', cultural_kind='Directorio de Bibliotecas de Castilla y León'),
 Row(name='Biblioteca Pública Municipal  Candelaria-Bloques de Zamora', address='C/ Juan Sebastián Elcano, 10', county='Zamora', city='Zamora', postal_code='49020', cultural_kind='Directorio de Bibliotecas de Castilla y León')]

In [6]:
sparkdf_cultural.describe()

DataFrame[summary: string, name: string, address: string, county: string, city: string, postal_code: string, cultural_kind: string]

## 5.2.- Cultural table Quality Checks and Wrangle/Cleanup

### 5.2.1.- Cultura table. Check for null values in key columns

In [7]:
##CHECK FOR NULL VALUES IN KEY COLUMNS
check_sparkdf_not_nulls(sparkdf_cultural,['name','county','city','cultural_kind'])

Checking DataFrame. No null values found in column name
Checking DataFrame. No null values found in column county
Checking DataFrame. No null values found in column city
Checking DataFrame. No null values found in column cultural_kind

True

### 5.2.2.-Cultural table. Check for duplicate values and WRANGLE result.

In [8]:
##CHECK FOR REPEATED VALUES IN KEY COLUMNS
# We can accept same name, even same name in same city (if it is a different kind
# of association), but not same name / same city / same kind
dupes=check_sparkdf_find_dupes(sparkdf_cultural,['name','county','city','cultural_kind'])

print(dupes.head(15))

[Row(name='Biblioteca Pública Municipal de Ávila', county='Ávila', city='Ávila', cultural_kind='Directorio de Bibliotecas de Castilla y León', count=3), Row(name='Museo de la Industria Harinera de Castilla y León (MIHACALE)', county='León', city='Gordoncillo', cultural_kind='Directorio de Museos de Castilla y León', count=2)]

In [9]:
# In this case, they are city libraries with the same name and in the same city, but different address 
# meaning the library has 3 buildings / offices
# So I decide not to remove duplicates (Address is different)

dupes=check_sparkdf_find_dupes(sparkdf_cultural,['name','address','county','city','cultural_kind'])
print(dupes.head(15))

[]

### 5.2.3.- Cultural table Wrangling: check counties that are not valid. Guess those that can be guessed (soft typos) and remove the others.
Note: There are some cases of wrong counties containing special characters (like Ñ) that spoils out the parquet table creation as it would end in a hardly descriptive error.

In [10]:
# CHECK and remove wrong Counties as we are going to partition by county
print('Rows before removing duplicates',sparkdf_cultural.count())
sparkdf_cultural=clean_wrong_counties(sparkdf_cultural)
print('Rows after removing duplicates',sparkdf_cultural.count())
sparkdf_cultural.head(3)

Rows before removing duplicates 828
Rows after removing duplicates 828

[Row(name='Biblioteca Pública Municipal de Valverde del Majano', address='C/ Real, 10', county='segovia', city='Valverde del Majano', postal_code='40140', cultural_kind='Directorio de Bibliotecas de Castilla y León'),
 Row(name="Biblioteca Pública Municipal del Centro Cívico 'Río Vena' de Burgos", address='C/ Juan de Padilla, s/n - Centro Cívico, 1ª planta', county='burgos', city='Burgos', postal_code='09006', cultural_kind='Directorio de Bibliotecas de Castilla y León'),
 Row(name='Biblioteca Pública Municipal de Villanueva del Campo', address='C/ Federico Arrazola, s/n', county='zamora', city='Villanueva del Campo', postal_code='49100', cultural_kind='Directorio de Bibliotecas de Castilla y León')]

### 5.2.4.- Cultural table --> Parquet TABLE.

In [9]:
## CLEANED UP CULTURAL TO PARQUET (LOCAL)
toparquet_by_county_and_postcode(spark_session,local_parquet_path  + 'cultural/',sparkdf_cultural)

### 5.2.5.- Example queries to CULTURAL

In [22]:
# Order cities by number of cultural items (libraries + museums)
cultural_top = sparkdf_cultural \
    .select('county','city','address',
           when(sparkdf_cultural['cultural_kind'] == 'Directorio de Museos de Castilla y León', 1).alias("is_museum"),
           when(sparkdf_cultural['cultural_kind'] == 'Directorio de Bibliotecas de Castilla y León', 1).alias("is_library")
    ) \
    .groupBy('county','city') \
    .agg(
        count("is_museum").alias("museums"), 
        count("is_library").alias("libraries"),
        count("address").alias("total")
        ) \
    .orderBy("Total", ascending=False)

    

cultural_top.head(30)

[Row(county='valladolid', city='Valladolid', museums=25, libraries=36, total=61),
 Row(county='burgos', city='Burgos', museums=11, libraries=26, total=37),
 Row(county='león', city='León', museums=13, libraries=14, total=27),
 Row(county='salamanca', city='Salamanca', museums=17, libraries=10, total=27),
 Row(county='ávila', city='Ávila', museums=12, libraries=10, total=22),
 Row(county='zamora', city='Zamora', museums=8, libraries=12, total=20),
 Row(county='segovia', city='Segovia', museums=13, libraries=6, total=19),
 Row(county='soria', city='Soria', museums=5, libraries=7, total=12),
 Row(county='palencia', city='Palencia', museums=7, libraries=5, total=12),
 Row(county='león', city='Ponferrada', museums=6, libraries=2, total=8),
 Row(county='valladolid', city='Medina del Campo', museums=6, libraries=2, total=8),
 Row(county='valladolid', city='Medina de Rioseco', museums=7, libraries=1, total=8),
 Row(county='valladolid', city='Tordesillas', museums=6, libraries=1, total=7),
 Row(county='zamora', city='Toro', museums=6, libraries=1, total=7),
 Row(county='salamanca', city='Béjar', museums=5, libraries=1, total=6),
 Row(county='valladolid', city='Peñafiel', museums=5, libraries=1, total=6),
 Row(county='burgos', city='Aranda de Duero', museums=5, libraries=1, total=6),
 Row(county='segovia', city='Sepúlveda', museums=4, libraries=1, total=5),
 Row(county='palencia', city='Aguilar de Campoo', museums=3, libraries=2, total=5),
 Row(county='león', city='Astorga', museums=4, libraries=1, total=5),
 Row(county='segovia', city='Real Sitio de San Ildefonso', museums=2, libraries=3, total=5),
 Row(county='palencia', city='Carrión de los Condes', museums=3, libraries=2, total=5),
 Row(county='salamanca', city='Alba de Tormes', museums=4, libraries=1, total=5),
 Row(county='león', city='Bañeza (La)', museums=4, libraries=1, total=5),
 Row(county='soria', city='San Esteban de Gormaz', museums=3, libraries=1, total=4),
 Row(county='salamanca', city='Ciudad Rodrigo', museums=3, libraries=1, total=4),
 Row(county='burgos', city='Castrojeriz', museums=4, libraries=0, total=4),
 Row(county='valladolid', city='Urueña', museums=4, libraries=0, total=4),
 Row(county='salamanca', city='Lumbrales', museums=3, libraries=1, total=4),
 Row(county='ávila', city='Arévalo', museums=3, libraries=1, total=4)]

In [24]:
# List museums in Aranda de Duero
museums_in_Aranda = sparkdf_cultural \
    .select('name','address') \
    .where("city='Aranda de Duero'").where("cultural_kind like '%Museo%'")

    

museums_in_Aranda.head(5)

[Row(name='Museo de Alfarería y Cerámica', address='C/ Don Julián y Don Romero, s/n.'),
 Row(name='Museo del Tren', address='Estación Chelva, s/n.'),
 Row(name='Museo Casa de las Bolas. Colección Permanente Félix Cañada', address='Casa de las Bolas. Plaza de San Juan, 9.'),
 Row(name='Museo Sacro de Aranda de Duero', address='Iglesia de San Juan, C/ San Juan, s/n.'),
 Row(name='Centro de Interpretación de la Arquitectura Asociada al Vino', address='Plaza Mayor, s/n.')]

In [41]:
# List museums having to do with wine (vino in Spanish) or Cheese (queso in Spanish)
wine_museums = sparkdf_cultural \
    .select('county','city', 'name', 'address') \
    .where("cultural_kind like '%Museo%'").where(
    "name like '%Vino%' or name like '%vino%' or name like '%ueso%'"
    ).orderBy('county','city')

    

wine_museums.head(15)

[Row(county='burgos', city='Aranda de Duero', name='Centro de Interpretación de la Arquitectura Asociada al Vino', address='Plaza Mayor, s/n.'),
 Row(county='león', city='Cacabelos', name='Museo Vinos del Bierzo', address='Avda. Constitución , 106.'),
 Row(county='palencia', city='Frómista', name='Museo del Queso', address='Plaza de San Martín, 8'),
 Row(county='valladolid', city='Peñafiel', name='Museo Provincial del Vino', address='Castillo.'),
 Row(county='valladolid', city='Villalón de Campos', name='Museo del Queso de Villalón de Campos', address='Avenida del Parque, 7.'),
 Row(county='zamora', city='Morales de Toro', name='Museo del Vino Pagos del Rey', address='Avda/ de los Comuneros, 90'),
 Row(county='zamora', city='Toro', name='Museo del Queso Chillón', address='Carretera Tordesillas 11')]

# 6.- POPULATION TABLE

Cities population per gender age.csv contains population per gender age and city in Castilla y León
We'll group it buckets and assign county to any city (There is no county field)

In [133]:
	sparkdf_handle = spark_session.read.options(inferSchema='true',\
					delimiter=';',
					header='true',
					encoding='ISO-8859-1').csv(local_path+data_poblacion)

In [49]:
# first we filter out municipalities that are not in Castilla y León region
# We can use the Municipios code (starts by the postal code of the cities)
# We convert Total to number and '..' into 0

[Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='Total', Total='46.815.916'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='0 aÃ±os', Total='480.267'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='1 aÃ±o', Total='481.568'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='2 aÃ±os', Total='497.738'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='3 aÃ±os', Total='519.804'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='4 aÃ±os', Total='500.817'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='5 aÃ±os', Total='498.131'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='6 aÃ±os', Total='487.253'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='7 aÃ±os', Total='478.292'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='8 aÃ±os', Total='472.481'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='9 aÃ±os', Total='453.687'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='10 aÃ±os', Total='452.715'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='11 aÃ±os', Total='450.349'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='12 aÃ±os', Total='437.970'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='13 aÃ±os', Total='426.739'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='14 aÃ±os', Total='431.558'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='15 aÃ±os', Total='423.510'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='16 aÃ±os', Total='423.458'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='17 aÃ±os', Total='432.096'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='18 aÃ±os', Total='456.057'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='19 aÃ±os', Total='467.879'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='20 aÃ±os', Total='472.237'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='21 aÃ±os', Total='484.977'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='22 aÃ±os', Total='500.423'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='23 aÃ±os', Total='517.912'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='24 aÃ±os', Total='539.897'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='25 aÃ±os', Total='555.789'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='26 aÃ±os', Total='587.647'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='27 aÃ±os', Total='614.863'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='28 aÃ±os', Total='645.397'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='29 aÃ±os', Total='683.913'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='30 aÃ±os', Total='719.496'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='31 aÃ±os', Total='755.658'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='32 aÃ±os', Total='780.241'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='33 aÃ±os', Total='812.462'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='34 aÃ±os', Total='825.870'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='35 aÃ±os', Total='837.886'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='36 aÃ±os', Total='830.672'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='37 aÃ±os', Total='819.925'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='38 aÃ±os', Total='802.406'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='39 aÃ±os', Total='798.224'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='40 aÃ±os', Total='785.294'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='41 aÃ±os', Total='770.371'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='42 aÃ±os', Total='762.934'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='43 aÃ±os', Total='765.316'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='44 aÃ±os', Total='758.371'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='45 aÃ±os', Total='739.513'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='46 aÃ±os', Total='736.772'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='47 aÃ±os', Total='741.202'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='48 aÃ±os', Total='705.724'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='49 aÃ±os', Total='681.725'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='50 aÃ±os', Total='661.749'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='51 aÃ±os', Total='670.426'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='52 aÃ±os', Total='651.859'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='53 aÃ±os', Total='630.296'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='54 aÃ±os', Total='609.815'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='55 aÃ±os', Total='571.104'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='56 aÃ±os', Total='555.134'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='57 aÃ±os', Total='529.505'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='58 aÃ±os', Total='532.006'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='59 aÃ±os', Total='518.773'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='60 aÃ±os', Total='496.027'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='61 aÃ±os', Total='478.475'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='62 aÃ±os', Total='502.178'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='63 aÃ±os', Total='521.370'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='64 aÃ±os', Total='465.361'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='65 aÃ±os', Total='462.367'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='66 aÃ±os', Total='468.010'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='67 aÃ±os', Total='449.364'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='68 aÃ±os', Total='433.022'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='69 aÃ±os', Total='364.418'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='70 aÃ±os', Total='355.720'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='71 aÃ±os', Total='410.875'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='72 aÃ±os', Total='282.166'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='73 aÃ±os', Total='319.739'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='74 aÃ±os', Total='354.280'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='75 aÃ±os', Total='374.077'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='76 aÃ±os', Total='358.271'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='77 aÃ±os', Total='348.842'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='78 aÃ±os', Total='348.390'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='79 aÃ±os', Total='329.900'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='80 aÃ±os', Total='308.284'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='81 aÃ±os', Total='291.468'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='82 aÃ±os', Total='264.969'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='83 aÃ±os', Total='243.107'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='84 aÃ±os', Total='215.832'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='85 aÃ±os', Total='196.389'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='86 aÃ±os', Total='173.744'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='87 aÃ±os', Total='153.621'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='88 aÃ±os', Total='132.734'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='89 aÃ±os', Total='112.762'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='90 aÃ±os', Total='89.457'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='91 aÃ±os', Total='71.452'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='92 aÃ±os', Total='49.331'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='93 aÃ±os', Total='41.549'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='94 aÃ±os', Total='30.999'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='95 aÃ±os', Total='23.578'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='96 aÃ±os', Total='17.900'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='97 aÃ±os', Total='13.241'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='98 aÃ±os', Total='9.396'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='99 aÃ±os', Total='6.392'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Ambos sexos', Edad (aÃ±o a aÃ±o)='100 y mÃ¡s', Total='10.701'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='Total', Total='23.104.303'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='0 aÃ±os', Total='247.303'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='1 aÃ±o', Total='248.585'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='2 aÃ±os', Total='257.460'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='3 aÃ±os', Total='268.219'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='4 aÃ±os', Total='258.643'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='5 aÃ±os', Total='256.369'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='6 aÃ±os', Total='250.892'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='7 aÃ±os', Total='246.271'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='8 aÃ±os', Total='242.522'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='9 aÃ±os', Total='233.025'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='10 aÃ±os', Total='232.396'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='11 aÃ±os', Total='232.514'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='12 aÃ±os', Total='224.757'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='13 aÃ±os', Total='220.346'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='14 aÃ±os', Total='221.342'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='15 aÃ±os', Total='217.531'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='16 aÃ±os', Total='218.092'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='17 aÃ±os', Total='222.990'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='18 aÃ±os', Total='235.159'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='19 aÃ±os', Total='240.643'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='20 aÃ±os', Total='242.455'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='21 aÃ±os', Total='247.176'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='22 aÃ±os', Total='254.826'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='23 aÃ±os', Total='261.845'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='24 aÃ±os', Total='271.857'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='25 aÃ±os', Total='280.067'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='26 aÃ±os', Total='296.046'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='27 aÃ±os', Total='310.090'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='28 aÃ±os', Total='326.914'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='29 aÃ±os', Total='347.279'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='30 aÃ±os', Total='367.419'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='31 aÃ±os', Total='385.854'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='32 aÃ±os', Total='399.272'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='33 aÃ±os', Total='417.810'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='34 aÃ±os', Total='425.636'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='35 aÃ±os', Total='431.911'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='36 aÃ±os', Total='429.040'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='37 aÃ±os', Total='422.144'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='38 aÃ±os', Total='413.527'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='39 aÃ±os', Total='410.921'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='40 aÃ±os', Total='403.202'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='41 aÃ±os', Total='395.719'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='42 aÃ±os', Total='389.568'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='43 aÃ±os', Total='390.246'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='44 aÃ±os', Total='385.156'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='45 aÃ±os', Total='374.980'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='46 aÃ±os', Total='371.829'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='47 aÃ±os', Total='373.482'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='48 aÃ±os', Total='355.350'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='49 aÃ±os', Total='342.181'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='50 aÃ±os', Total='330.630'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='51 aÃ±os', Total='334.737'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='52 aÃ±os', Total='325.233'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='53 aÃ±os', Total='312.811'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='54 aÃ±os', Total='302.299'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='55 aÃ±os', Total='282.773'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='56 aÃ±os', Total='274.049'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='57 aÃ±os', Total='260.201'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='58 aÃ±os', Total='262.022'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='59 aÃ±os', Total='255.469'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='60 aÃ±os', Total='242.248'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='61 aÃ±os', Total='233.479'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='62 aÃ±os', Total='242.761'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='63 aÃ±os', Total='252.541'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='64 aÃ±os', Total='223.931'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='65 aÃ±os', Total='220.813'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='66 aÃ±os', Total='223.251'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='67 aÃ±os', Total='213.789'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='68 aÃ±os', Total='204.960'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='69 aÃ±os', Total='172.623'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='70 aÃ±os', Total='167.326'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='71 aÃ±os', Total='190.638'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='72 aÃ±os', Total='128.467'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='73 aÃ±os', Total='145.059'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='74 aÃ±os', Total='158.962'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='75 aÃ±os', Total='164.664'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='76 aÃ±os', Total='157.641'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='77 aÃ±os', Total='150.450'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='78 aÃ±os', Total='148.849'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='79 aÃ±os', Total='138.652'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='80 aÃ±os', Total='127.251'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='81 aÃ±os', Total='116.605'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='82 aÃ±os', Total='104.508'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='83 aÃ±os', Total='92.950'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='84 aÃ±os', Total='80.764'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='85 aÃ±os', Total='71.046'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='86 aÃ±os', Total='61.036'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='87 aÃ±os', Total='52.140'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='88 aÃ±os', Total='44.014'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='89 aÃ±os', Total='35.525'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='90 aÃ±os', Total='27.691'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='91 aÃ±os', Total='20.378'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='92 aÃ±os', Total='13.324'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='93 aÃ±os', Total='10.598'),
 Row(Municipios='TOTAL NACIONAL', Sexo='Hombres', Edad (aÃ±o a aÃ±o)='94 aÃ±os', Total='7.679'),

In [171]:
from pyspark.sql.functions import regexp_replace, regexp_extract, expr
from pyspark.sql.types import IntegerType

print(sparkdf_handle.count())

sparkdf_handle2=sparkdf_handle \
    .select(col('Municipios').alias('city'),
            col('Edad (aÃ±o a aÃ±o)').alias('age'),
            col('Total').alias('population'))\
    .where("Municipios like '05%' or Municipios like '09%' or Municipios like '24%' or \
           Municipios like '34%' or Municipios like '37%' or Municipios like '40%' or \
           Municipios like '42%' or Municipios like '47%' or Municipios like '49%' ") \
    .where("Sexo ='Ambos sexos'")\
    .where("age <> 'Total'")\
    .withColumn('population', regexp_replace('population','\.\.','0')) \
    .withColumn('population', regexp_replace('population','\.','')) \
    .withColumn('age', regexp_extract('age', '([0-9]*)(\s+)', 1)) \
    .withColumn("county",expr("case when city like '05%' then 'ávila' " +
                       "when city like '09%' then 'burgos' " +
                              "when city like '24%' then 'león' " +
                              "when city like '34%' then 'palencia' " +
                              "when city like '37%' then 'salamanca' " +
                              "when city like '40%' then 'segovia' " +
                              "when city like '42%' then 'soria' " +
                              "when city like '47%' then 'valladolid' " +
                              "when city like '49%' then 'zamora' " +
                       "else 'Great' end")) \
    .withColumn('city', regexp_extract('city', '([0-9]*)(\s+)(.+)', 3)) \
    .withColumn('city', regexp_replace('city', 'Ã¡', 'á')) \
    .withColumn('city', regexp_replace('city', 'Ã\x81', 'Á')) \
    .withColumn('city', regexp_replace('city', 'Ã©', 'é')) \
    .withColumn('city', regexp_replace('city', 'Ã\xad', 'í')) \
    .withColumn('city', regexp_replace('city', 'Ã\x8d', 'Í')) \
    .withColumn('city', regexp_replace('city', 'Ã³', 'ó')) \
    .withColumn('city', regexp_replace('city', 'Ã\x93', 'Ó')) \
    .withColumn('city', regexp_replace('city', 'Ã\x9a', 'Ú')) \
    .withColumn('city', regexp_replace('city', 'Ãº', 'ú')) \
    .withColumn('city', regexp_replace('city', 'Ã¼', 'ü')) \
    .withColumn('city', regexp_replace('city', 'Ã±', 'ñ')) \




print(sparkdf_handle2.count())
print(sparkdf_handle2.describe())

2483802
227048
DataFrame[summary: string, city: string, age: string, population: string, county: string]

In [172]:
sparkdf_handle3 = sparkdf_handle2. \
    withColumn('age', col('age').cast(IntegerType())). \
    withColumn('population', col('population').cast(IntegerType()))


sparkdf_handle3.printSchema()

root
 |-- city: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- population: integer (nullable = true)
 |-- county: string (nullable = false)

In [174]:
sparkdf_handle4 = sparkdf_handle3.select('county','city','age','population')\
        .withColumn('under16',expr('case when age <16 then population else 0 end'))\
        .withColumn('16to30',expr('case when age >= 16 and age <31 then population else 0 end'))\
        .withColumn('31to45',expr('case when age >= 31 and age <46 then population else 0 end'))\
        .withColumn('46to65',expr('case when age >= 46 and age <66 then population else 0 end'))\
        .withColumn('66to80',expr('case when age >= 66 and age <81 then population else 0 end'))\
        .withColumn('over80',expr('case when age >= 81 then population else 0 end'))\
        .groupBy('county','city') \
        .agg({'under16': 'sum' , '16to30': 'sum' , '31to45': 'sum', '46to65': 'sum' , '66to80': 'sum' , 'over80': 'sum'} )\
        .withColumn("total Population",col('sum(under16)')+col('sum(16to30)')+col('sum(31to45)')
                   +col('sum(46to65)')+col('sum(66to80)')+col('sum(over80)'))
sparkdf_handle4.head(2000)

[Row(county='ávila', city='Adanero', sum(46to65)=57, sum(66to80)=51, sum(16to30)=26, sum(over80)=25, sum(31to45)=72, sum(under16)=36, total Population=267),
 Row(county='zamora', city='Alcañices', sum(46to65)=289, sum(66to80)=214, sum(16to30)=188, sum(over80)=123, sum(31to45)=242, sum(under16)=111, total Population=1167),
 Row(county='soria', city='Bayubas de Abajo', sum(46to65)=51, sum(66to80)=57, sum(16to30)=18, sum(over80)=35, sum(31to45)=31, sum(under16)=6, total Population=198),
 Row(county='salamanca', city='Cantalpino', sum(46to65)=255, sum(66to80)=211, sum(16to30)=129, sum(over80)=99, sum(31to45)=207, sum(under16)=98, total Population=999),
 Row(county='salamanca', city='Cerralbo', sum(46to65)=50, sum(66to80)=65, sum(16to30)=17, sum(over80)=39, sum(31to45)=21, sum(under16)=4, total Population=196),
 Row(county='palencia', city='Dueñas', sum(46to65)=866, sum(66to80)=365, sum(16to30)=462, sum(over80)=189, sum(31to45)=606, sum(under16)=315, total Population=2803),
 Row(county='león', city='Páramo del Sil', sum(46to65)=431, sum(66to80)=282, sum(16to30)=242, sum(over80)=121, sum(31to45)=240, sum(under16)=96, total Population=1412),
 Row(county='salamanca', city='Puebla de San Medel', sum(46to65)=12, sum(66to80)=11, sum(16to30)=6, sum(over80)=10, sum(31to45)=7, sum(under16)=1, total Population=47),
 Row(county='segovia', city='Rebollo', sum(46to65)=26, sum(66to80)=32, sum(16to30)=4, sum(over80)=19, sum(31to45)=17, sum(under16)=4, total Population=102),
 Row(county='burgos', city='Rublacedo de Abajo', sum(46to65)=13, sum(66to80)=9, sum(16to30)=3, sum(over80)=2, sum(31to45)=8, sum(under16)=0, total Population=35),
 Row(county='valladolid', city='Salvador de Zapardiel', sum(46to65)=39, sum(66to80)=39, sum(16to30)=25, sum(over80)=14, sum(31to45)=29, sum(under16)=5, total Population=151),
 Row(county='burgos', city='Vilviestre del Pinar', sum(46to65)=144, sum(66to80)=159, sum(16to30)=86, sum(over80)=82, sum(31to45)=118, sum(under16)=59, total Population=648),
 Row(county='segovia', city='Aldealengua de Santa María', sum(46to65)=17, sum(66to80)=14, sum(16to30)=11, sum(over80)=8, sum(31to45)=13, sum(under16)=20, total Population=83),
 Row(county='burgos', city='Coruña del Conde', sum(46to65)=40, sum(66to80)=30, sum(16to30)=7, sum(over80)=20, sum(31to45)=21, sum(under16)=8, total Population=126),
 Row(county='zamora', city='Manzanal de Arriba', sum(46to65)=111, sum(66to80)=121, sum(16to30)=30, sum(over80)=72, sum(31to45)=48, sum(under16)=15, total Population=397),
 Row(county='ávila', city='Pedro-Rodríguez', sum(46to65)=40, sum(66to80)=61, sum(16to30)=22, sum(over80)=14, sum(31to45)=35, sum(under16)=10, total Population=182),
 Row(county='salamanca', city='Pitiegua', sum(46to65)=58, sum(66to80)=49, sum(16to30)=38, sum(over80)=25, sum(31to45)=29, sum(under16)=11, total Population=210),
 Row(county='salamanca', city='Sahugo, El', sum(46to65)=58, sum(66to80)=52, sum(16to30)=18, sum(over80)=45, sum(31to45)=32, sum(under16)=17, total Population=222),
 Row(county='burgos', city='Tardajos', sum(46to65)=202, sum(66to80)=86, sum(16to30)=104, sum(over80)=79, sum(31to45)=209, sum(under16)=154, total Population=834),
 Row(county='salamanca', city='Villares de Yeltes', sum(46to65)=36, sum(66to80)=36, sum(16to30)=18, sum(over80)=18, sum(31to45)=19, sum(under16)=9, total Population=136),
 Row(county='zamora', city='Villaveza del Agua', sum(46to65)=58, sum(66to80)=67, sum(16to30)=23, sum(over80)=34, sum(31to45)=37, sum(under16)=7, total Population=226),
 Row(county='soria', city='Abejar', sum(46to65)=106, sum(66to80)=77, sum(16to30)=48, sum(over80)=36, sum(31to45)=68, sum(under16)=27, total Population=362),
 Row(county='salamanca', city='Aldeacipreste', sum(46to65)=36, sum(66to80)=36, sum(16to30)=17, sum(over80)=17, sum(31to45)=19, sum(under16)=8, total Population=133),
 Row(county='ávila', city='Blascosancho', sum(46to65)=24, sum(66to80)=31, sum(16to30)=6, sum(over80)=19, sum(31to45)=16, sum(under16)=9, total Population=105),
 Row(county='león', city='Cabrillanes', sum(46to65)=291, sum(66to80)=140, sum(16to30)=151, sum(over80)=122, sum(31to45)=140, sum(under16)=55, total Population=899),
 Row(county='zamora', city='Mahide', sum(46to65)=97, sum(66to80)=141, sum(16to30)=25, sum(over80)=73, sum(31to45)=44, sum(under16)=9, total Population=389),
 Row(county='salamanca', city='Pelayos', sum(46to65)=39, sum(66to80)=22, sum(16to30)=17, sum(over80)=11, sum(31to45)=20, sum(under16)=7, total Population=116),
 Row(county='salamanca', city='Pinedas', sum(46to65)=22, sum(66to80)=63, sum(16to30)=9, sum(over80)=18, sum(31to45)=14, sum(under16)=2, total Population=128),
 Row(county='zamora', city='Pobladura del Valle', sum(46to65)=82, sum(66to80)=74, sum(16to30)=49, sum(over80)=36, sum(31to45)=61, sum(under16)=29, total Population=331),
 Row(county='palencia', city='Quintanilla de Onsoña', sum(46to65)=55, sum(66to80)=48, sum(16to30)=18, sum(over80)=29, sum(31to45)=38, sum(under16)=16, total Population=204),
 Row(county='soria', city='San Esteban de Gormaz', sum(46to65)=869, sum(66to80)=488, sum(16to30)=484, sum(over80)=360, sum(31to45)=604, sum(under16)=383, total Population=3188),
 Row(county='zamora', city='Torres del Carrizal', sum(46to65)=127, sum(66to80)=70, sum(16to30)=100, sum(over80)=36, sum(31to45)=89, sum(under16)=32, total Population=454),
 Row(county='burgos', city='Villayerno Morquillas', sum(46to65)=52, sum(66to80)=31, sum(16to30)=29, sum(over80)=10, sum(31to45)=62, sum(under16)=31, total Population=215),
 Row(county='palencia', city='Antigüedad', sum(46to65)=113, sum(66to80)=90, sum(16to30)=46, sum(over80)=59, sum(31to45)=73, sum(under16)=26, total Population=407),
 Row(county='palencia', city='Berzosilla', sum(46to65)=19, sum(66to80)=9, sum(16to30)=6, sum(over80)=7, sum(31to45)=9, sum(under16)=1, total Population=51),
 Row(county='salamanca', city='Brincones', sum(46to65)=18, sum(66to80)=23, sum(16to30)=5, sum(over80)=5, sum(31to45)=14, sum(under16)=3, total Population=68),
 Row(county='palencia', city='Capillas', sum(46to65)=30, sum(66to80)=15, sum(16to30)=8, sum(over80)=10, sum(31to45)=20, sum(under16)=5, total Population=88),
 Row(county='zamora', city='Castroverde de Campos', sum(46to65)=112, sum(66to80)=82, sum(16to30)=45, sum(over80)=50, sum(31to45)=53, sum(under16)=21, total Population=363),
 Row(county='ávila', city='Crespos', sum(46to65)=164, sum(66to80)=102, sum(16to30)=95, sum(over80)=45, sum(31to45)=90, sum(under16)=40, total Population=536),
 Row(county='salamanca', city='Fresno Alhándiga', sum(46to65)=79, sum(66to80)=44, sum(16to30)=45, sum(over80)=32, sum(31to45)=56, sum(under16)=19, total Population=275),
 Row(county='ávila', city='Fuentes de Año', sum(46to65)=49, sum(66to80)=22, sum(16to30)=27, sum(over80)=16, sum(31to45)=18, sum(under16)=3, total Population=135),
 Row(county='león', city='Gordoncillo', sum(46to65)=136, sum(66to80)=107, sum(16to30)=78, sum(over80)=69, sum(31to45)=70, sum(under16)=31, total Population=491),
 Row(county='zamora', city='Lubián', sum(46to65)=99, sum(66to80)=102, sum(16to30)=43, sum(over80)=45, sum(31to45)=43, sum(under16)=23, total Population=355),
 Row(county='palencia', city='Palenzuela', sum(46to65)=69, sum(66to80)=58, sum(16to30)=28, sum(over80)=23, sum(31to45)=35, sum(under16)=11, total Population=224),
 Row(county='burgos', city='Pampliega', sum(46to65)=90, sum(66to80)=87, sum(16to30)=47, sum(over80)=37, sum(31to45)=63, sum(under16)=35, total Population=359),
 Row(county='salamanca', city='Pelabravo', sum(46to65)=270, sum(66to80)=92, sum(16to30)=177, sum(over80)=41, sum(31to45)=283, sum(under16)=175, total Population=1038),
 Row(county='salamanca', city='Puerto de Béjar', sum(46to65)=127, sum(66to80)=77, sum(16to30)=41, sum(over80)=56, sum(31to45)=75, sum(under16)=24, total Population=400),
 Row(county='soria', city='Torlengua', sum(46to65)=17, sum(66to80)=26, sum(16to30)=9, sum(over80)=19, sum(31to45)=9, sum(under16)=3, total Population=83),
 Row(county='zamora', city='Villadepera', sum(46to65)=60, sum(66to80)=64, sum(16to30)=33, sum(over80)=45, sum(31to45)=41, sum(under16)=11, total Population=254),
 Row(county='burgos', city='Villasur de Herreros', sum(46to65)=94, sum(66to80)=43, sum(16to30)=36, sum(over80)=30, sum(31to45)=52, sum(under16)=15, total Population=270),
 Row(county='burgos', city='Villazopeque', sum(46to65)=22, sum(66to80)=12, sum(16to30)=3, sum(over80)=6, sum(31to45)=15, sum(under16)=3, total Population=61),
 Row(county='ávila', city='Avellaneda', sum(46to65)=12, sum(66to80)=7, sum(16to30)=0, sum(over80)=3, sum(31to45)=7, sum(under16)=3, total Population=32),
 Row(county='valladolid', city='Boecillo', sum(46to65)=880, sum(66to80)=238, sum(16to30)=545, sum(over80)=64, sum(31to45)=1315, sum(under16)=856, total Population=3898),
 Row(county='burgos', city='Castil de Peones', sum(46to65)=12, sum(66to80)=6, sum(16to30)=5, sum(over80)=5, sum(31to45)=4, sum(under16)=0, total Population=32),
 Row(county='zamora', city='Fresno de la Ribera', sum(46to65)=112, sum(66to80)=74, sum(16to30)=69, sum(over80)=25, sum(31to45)=67, sum(under16)=49, total Population=396),
 Row(county='soria', city='Medinaceli', sum(46to65)=209, sum(66to80)=115, sum(16to30)=125, sum(over80)=97, sum(31to45)=173, sum(under16)=78, total Population=797),
 Row(county='burgos', city='Merindad de Valdeporres', sum(46to65)=145, sum(66to80)=79, sum(16to30)=57, sum(over80)=49, sum(31to45)=77, sum(under16)=35, total Population=442),
 Row(county='zamora', city='Monfarracinos', sum(46to65)=195, sum(66to80)=84, sum(16to30)=139, sum(over80)=37, sum(31to45)=287, sum(under16)=180, total Population=922),
 Row(county='león', city='Quintana y Congosto', sum(46to65)=120, sum(66to80)=140, sum(16to30)=49, sum(over80)=126, sum(31to45)=50, sum(under16)=16, total Population=501),
 Row(county='león', city='Toreno', sum(46to65)=1053, sum(66to80)=571, sum(16to30)=647, sum(over80)=317, sum(31to45)=702, sum(under16)=308, total Population=3598),
 Row(county='valladolid', city='Ventosa de la Cuesta', sum(46to65)=32, sum(66to80)=26, sum(16to30)=18, sum(over80)=12, sum(31to45)=30, sum(under16)=10, total Population=128),
 Row(county='palencia', city='Villabasta de Valdavia', sum(46to65)=12, sum(66to80)=4, sum(16to30)=7, sum(over80)=2, sum(31to45)=7, sum(under16)=2, total Population=34),
 Row(county='valladolid', city='Villanueva de San Mancio', sum(46to65)=36, sum(66to80)=12, sum(16to30)=23, sum(over80)=9, sum(31to45)=17, sum(under16)=13, total Population=110),
 Row(county='ávila', city='Albornos', sum(46to65)=53, sum(66to80)=49, sum(16to30)=33, sum(over80)=17, sum(31to45)=45, sum(under16)=21, total Population=218),
 Row(county='león', city='Cacabelos', sum(46to65)=1421, sum(66to80)=890, sum(16to30)=853, sum(over80)=364, sum(31to45)=1228, sum(under16)=705, total Population=5461),
 Row(county='valladolid', city='Camporredondo', sum(46to65)=51, sum(66to80)=44, sum(16to30)=22, sum(over80)=22, sum(31to45)=26, sum(under16)=6, total Population=171),
 Row(county='ávila', city='Cantiveros', sum(46to65)=35, sum(66to80)=43, sum(16to30)=11, sum(over80)=18, sum(31to45)=22, sum(under16)=14, total Population=143),
 Row(county='ávila', city='Casillas', sum(46to65)=215, sum(66to80)=178, sum(16to30)=100, sum(over80)=96, sum(31to45)=130, sum(under16)=91, total Population=810),
 Row(county='valladolid', city='Castronuevo de Esgueva', sum(46to65)=132, sum(66to80)=44, sum(16to30)=47, sum(over80)=17, sum(31to45)=94, sum(under16)=45, total Population=379),
 Row(county='soria', city='Espeja de San Marcelino', sum(46to65)=47, sum(66to80)=48, sum(16to30)=19, sum(over80)=36, sum(31to45)=23, sum(under16)=14, total Population=187),
 Row(county='burgos', city='Gumiel de Izán', sum(46to65)=194, sum(66to80)=72, sum(16to30)=64, sum(over80)=79, sum(31to45)=130, sum(under16)=81, total Population=620),
 Row(county='salamanca', city='Linares de Riofrío', sum(46to65)=256, sum(66to80)=211, sum(16to30)=134, sum(over80)=108, sum(31to45)=180, sum(under16)=78, total Population=967),
 Row(county='soria', city='Molinos de Duero', sum(46to65)=49, sum(66to80)=26, sum(16to30)=23, sum(over80)=17, sum(31to45)=44, sum(under16)=18, total Population=177),
 Row(county='valladolid', city='Montealegre de Campos', sum(46to65)=43, sum(66to80)=20, sum(16to30)=27, sum(over80)=8, sum(31to45)=27, sum(under16)=4, total Population=129),
 Row(county='burgos', city='Reinoso', sum(46to65)=5, sum(66to80)=1, sum(16to30)=1, sum(over80)=3, sum(31to45)=3, sum(under16)=0, total Population=13),
 Row(county='burgos', city='San Martín de Rubiales', sum(46to65)=42, sum(66to80)=42, sum(16to30)=9, sum(over80)=28, sum(31to45)=31, sum(under16)=3, total Population=155),
 Row(county='salamanca', city='Santiz', sum(46to65)=71, sum(66to80)=48, sum(16to30)=38, sum(over80)=24, sum(31to45)=55, sum(under16)=23, total Population=259),
 Row(county='soria', city='Tajueco', sum(46to65)=19, sum(66to80)=23, sum(16to30)=3, sum(over80)=19, sum(31to45)=18, sum(under16)=2, total Population=84),
 Row(county='león', city='Valdemora', sum(46to65)=22, sum(66to80)=24, sum(16to30)=8, sum(over80)=11, sum(31to45)=15, sum(under16)=5, total Population=85),
 Row(county='burgos', city='Cuevas de San Clemente', sum(46to65)=19, sum(66to80)=13, sum(16to30)=7, sum(over80)=9, sum(31to45)=3, sum(under16)=1, total Population=52),
 Row(county='salamanca', city='Fuente de San Esteban, La', sum(46to65)=361, sum(66to80)=259, sum(16to30)=231, sum(over80)=136, sum(31to45)=300, sum(under16)=131, total Population=1418),
 Row(county='salamanca', city='Fuenteliante', sum(46to65)=30, sum(66to80)=25, sum(16to30)=6, sum(over80)=29, sum(31to45)=23, sum(under16)=3, total Population=116),
 Row(county='burgos', city='Hacinas', sum(46to65)=41, sum(66to80)=35, sum(16to30)=11, sum(over80)=30, sum(31to45)=42, sum(under16)=19, total Population=178),
 Row(county='soria', city='Langa de Duero', sum(46to65)=215, sum(66to80)=156, sum(16to30)=116, sum(over80)=81, sum(31to45)=163, sum(under16)=71, total Population=802),
 Row(county='burgos', city='Mahamud', sum(46to65)=41, sum(66to80)=27, sum(16to30)=17, sum(over80)=21, sum(31to45)=21, sum(under16)=15, total Population=142),
 Row(county='burgos', city='Redecilla del Camino', sum(46to65)=46, sum(66to80)=23, sum(16to30)=15, sum(over80)=12, sum(31to45)=22, sum(under16)=9, total Population=127),
 Row(county='valladolid', city='San Pablo de la Moraleja', sum(46to65)=47, sum(66to80)=28, sum(16to30)=22, sum(over80)=20, sum(31to45)=13, sum(under16)=5, total Population=135),
 Row(county='burgos', city='Úrbel del Castillo', sum(46to65)=39, sum(66to80)=12, sum(16to30)=16, sum(over80)=13, sum(31to45)=11, sum(under16)=3, total Population=94),
 Row(county='soria', city='Valdenebro', sum(46to65)=32, sum(66to80)=25, sum(16to30)=7, sum(over80)=27, sum(31to45)=25, sum(under16)=7, total Population=123),
 Row(county='burgos', city='Valle de Sedano', sum(46to65)=163, sum(66to80)=78, sum(16to30)=66, sum(over80)=43, sum(31to45)=97, sum(under16)=32, total Population=479),
 Row(county='palencia', city='Villacidaler', sum(46to65)=18, sum(66to80)=19, sum(16to30)=5, sum(over80)=6, sum(31to45)=5, sum(under16)=0, total Population=53),
 Row(county='burgos', city='Villambistia', sum(46to65)=21, sum(66to80)=8, sum(16to30)=5, sum(over80)=11, sum(31to45)=1, sum(under16)=0, total Population=46),
 Row(county='palencia', city='Villaumbrales', sum(46to65)=202, sum(66to80)=130, sum(16to30)=114, sum(over80)=49, sum(31to45)=171, sum(under16)=77, total Population=743),
 Row(county='zamora', city='Algodre', sum(46to65)=52, sum(66to80)=49, sum(16to30)=23, sum(over80)=15, sum(31to45)=29, sum(under16)=9, total Population=177),
 Row(county='soria', city='Losilla, La', sum(46to65)=3, sum(66to80)=3, sum(16to30)=1, sum(over80)=4, sum(31to45)=3, sum(under16)=1, total Population=15),
 Row(county='ávila', city='Muñotello', sum(46to65)=23, sum(66to80)=21, sum(16to30)=8, sum(over80)=16, sum(31to45)=7, sum(under16)=1, total Population=76),
 Row(county='ávila', city='Orbita', sum(46to65)=14, sum(66to80)=19, sum(16to30)=3, sum(over80)=21, sum(31to45)=22, sum(under16)=10, total Population=89),
 Row(county='burgos', city='Revillarruz', sum(46to65)=79, sum(66to80)=28, sum(16to30)=71, sum(over80)=11, sum(31to45)=208, sum(under16)=96, total Population=493),
 Row(county='ávila', city='Riofrío', sum(46to65)=75, sum(66to80)=67, sum(16to30)=23, sum(over80)=36, sum(31to45)=41, sum(under16)=12, total Population=254),
 Row(county='zamora', city='Santa María de Valverde', sum(46to65)=19, sum(66to80)=26, sum(16to30)=7, sum(over80)=20, sum(31to45)=13, sum(under16)=2, total Population=87),
 Row(county='ávila', city='Santa María del Arroyo', sum(46to65)=34, sum(66to80)=27, sum(16to30)=17, sum(over80)=8, sum(31to45)=10, sum(under16)=2, total Population=98),
 Row(county='soria', city='Soliedra', sum(46to65)=10, sum(66to80)=11, sum(16to30)=2, sum(over80)=2, sum(31to45)=6, sum(under16)=4, total Population=35),
 Row(county='zamora', city='Villarrín de Campos', sum(46to65)=149, sum(66to80)=127, sum(16to30)=43, sum(over80)=109, sum(31to45)=70, sum(under16)=21, total Population=519),
 Row(county='valladolid', city='Berceruelo', sum(46to65)=18, sum(66to80)=5, sum(16to30)=8, sum(over80)=0, sum(31to45)=4, sum(under16)=6, total Population=41),
 Row(county='ávila', city='Cabizuela', sum(46to65)=29, sum(66to80)=28, sum(16to30)=25, sum(over80)=11, sum(31to45)=16, sum(under16)=3, total Population=112),
 Row(county='burgos', city='Castrillo Matajudíos', sum(46to65)=23, sum(66to80)=14, sum(16to30)=4, sum(over80)=9, sum(31to45)=10, sum(under16)=5, total Population=65),
 Row(county='león', city='Cimanes de la Vega', sum(46to65)=145, sum(66to80)=106, sum(16to30)=79, sum(over80)=67, sum(31to45)=105, sum(under16)=41, total Population=543),
 Row(county='palencia', city='Mantinos', sum(46to65)=57, sum(66to80)=24, sum(16to30)=22, sum(over80)=17, sum(31to45)=26, sum(under16)=12, total Population=158),
 Row(county='ávila', city='Monsalupe', sum(46to65)=21, sum(66to80)=17, sum(16to30)=4, sum(over80)=10, sum(31to45)=8, sum(under16)=2, total Population=62),
 Row(county='palencia', city='Mudá', sum(46to65)=36, sum(66to80)=20, sum(16to30)=17, sum(over80)=14, sum(31to45)=8, sum(under16)=1, total Population=96),
 Row(county='burgos', city='Neila', sum(46to65)=58, sum(66to80)=58, sum(16to30)=12, sum(over80)=29, sum(31to45)=34, sum(under16)=11, total Population=202),
 Row(county='palencia', city='San Cebrián de Campos', sum(46to65)=163, sum(66to80)=62, sum(16to30)=69, sum(over80)=31, sum(31to45)=101, sum(under16)=45, total Population=471),
 Row(county='salamanca', city='Santa María de Sando', sum(46to65)=41, sum(66to80)=32, sum(16to30)=19, sum(over80)=26, sum(31to45)=11, sum(under16)=1, total Population=130),
 Row(county='soria', city='Valderrodilla', sum(46to65)=26, sum(66to80)=28, sum(16to30)=10, sum(over80)=12, sum(31to45)=12, sum(under16)=3, total Population=91),
 Row(county='zamora', city='Vega de Tera', sum(46to65)=97, sum(66to80)=98, sum(16to30)=51, sum(over80)=71, sum(31to45)=51, sum(under16)=33, total Population=401),
 Row(county='burgos', city='Villangómez', sum(46to65)=71, sum(66to80)=62, sum(16to30)=26, sum(over80)=31, sum(31to45)=50, sum(under16)=12, total Population=252),
 Row(county='león', city='Villaquejida', sum(46to65)=263, sum(66to80)=189, sum(16to30)=136, sum(over80)=94, sum(31to45)=199, sum(under16)=95, total Population=976),
 Row(county='ávila', city='Viñegra de Moraña', sum(46to65)=20, sum(66to80)=8, sum(16to30)=10, sum(over80)=9, sum(31to45)=8, sum(under16)=2, total Population=57),
 Row(county='segovia', city='Aguilafuente', sum(46to65)=145, sum(66to80)=117, sum(16to30)=88, sum(over80)=99, sum(31to45)=155, sum(under16)=78, total Population=682),
 Row(county='burgos', city='Arauzo de Torre', sum(46to65)=26, sum(66to80)=21, sum(16to30)=5, sum(over80)=16, sum(31to45)=18, sum(under16)=5, total Population=91),
 Row(county='valladolid', city='Cubillas de Santa Marta', sum(46to65)=101, sum(66to80)=36, sum(16to30)=42, sum(over80)=13, sum(31to45)=56, sum(under16)=28, total Population=276),

In [175]:
sparkdf_handle5 = sparkdf_handle4.select('*').orderBy('total Population', ascending=False)
    
sparkdf_handle5.head(1000)

[Row(county='valladolid', city='Valladolid', sum(46to65)=89635, sum(66to80)=45347, sum(16to30)=47341, sum(over80)=17027, sum(31to45)=71496, sum(under16)=40839, total Population=311685),
 Row(county='burgos', city='Burgos', sum(46to65)=48268, sum(66to80)=21576, sum(16to30)=30005, sum(over80)=10133, sum(31to45)=41954, sum(under16)=26924, total Population=178860),
 Row(county='salamanca', city='Salamanca', sum(46to65)=41114, sum(66to80)=23174, sum(16to30)=24529, sum(over80)=11166, sum(31to45)=31819, sum(under16)=19859, total Population=151661),
 Row(county='león', city='León', sum(46to65)=37143, sum(66to80)=19819, sum(16to30)=19932, sum(over80)=9698, sum(31to45)=28504, sum(under16)=16319, total Population=131415),
 Row(county='palencia', city='Palencia', sum(46to65)=23385, sum(66to80)=10387, sum(16to30)=13287, sum(over80)=5023, sum(31to45)=17953, sum(under16)=11055, total Population=81090),
 Row(county='león', city='Ponferrada', sum(46to65)=18600, sum(66to80)=9338, sum(16to30)=11264, sum(over80)=3967, sum(31to45)=16024, sum(under16)=9195, total Population=68388),
 Row(county='zamora', city='Zamora', sum(46to65)=18297, sum(66to80)=9204, sum(16to30)=10687, sum(over80)=4173, sum(31to45)=14474, sum(under16)=8582, total Population=65417),
 Row(county='ávila', city='Ávila', sum(46to65)=15310, sum(66to80)=6407, sum(16to30)=10705, sum(over80)=2962, sum(31to45)=14388, sum(under16)=9714, total Population=59486),
 Row(county='segovia', city='Segovia', sum(46to65)=14768, sum(66to80)=7000, sum(16to30)=10246, sum(over80)=3480, sum(31to45)=11352, sum(under16)=8102, total Population=54948),
 Row(county='soria', city='Soria', sum(46to65)=10085, sum(66to80)=4608, sum(16to30)=7141, sum(over80)=2681, sum(31to45)=9235, sum(under16)=6540, total Population=40290),
 Row(county='burgos', city='Miranda de Ebro', sum(46to65)=10588, sum(66to80)=4477, sum(16to30)=6201, sum(over80)=2422, sum(31to45)=9126, sum(under16)=5528, total Population=38342),
 Row(county='burgos', city='Aranda de Duero', sum(46to65)=8733, sum(66to80)=3986, sum(16to30)=5899, sum(over80)=1671, sum(31to45)=7900, sum(under16)=5050, total Population=33239),
 Row(county='león', city='San Andrés del Rabanedo', sum(46to65)=8329, sum(66to80)=3200, sum(16to30)=5068, sum(over80)=1433, sum(31to45)=8624, sum(under16)=5022, total Population=31676),
 Row(county='valladolid', city='Laguna de Duero', sum(46to65)=6144, sum(66to80)=1382, sum(16to30)=3692, sum(over80)=385, sum(31to45)=6608, sum(under16)=4258, total Population=22469),
 Row(county='valladolid', city='Medina del Campo', sum(46to65)=5588, sum(66to80)=2535, sum(16to30)=3814, sum(over80)=1088, sum(31to45)=5278, sum(under16)=3209, total Population=21512),
 Row(county='zamora', city='Benavente', sum(46to65)=4887, sum(66to80)=2162, sum(16to30)=3412, sum(over80)=1047, sum(31to45)=4576, sum(under16)=3101, total Population=19185),
 Row(county='león', city='Villaquilambre', sum(46to65)=3890, sum(66to80)=1296, sum(16to30)=2767, sum(over80)=496, sum(31to45)=6238, sum(under16)=3368, total Population=18055),
 Row(county='valladolid', city='Arroyo de la Encomienda', sum(46to65)=2690, sum(66to80)=438, sum(16to30)=2527, sum(over80)=105, sum(31to45)=6430, sum(under16)=3338, total Population=15528),
 Row(county='salamanca', city='Santa Marta de Tormes', sum(46to65)=4192, sum(66to80)=1025, sum(16to30)=2938, sum(over80)=379, sum(31to45)=3630, sum(under16)=2707, total Population=14871),
 Row(county='salamanca', city='Béjar', sum(46to65)=3886, sum(66to80)=2318, sum(16to30)=2343, sum(over80)=1369, sum(31to45)=2777, sum(under16)=1711, total Population=14404),
 Row(county='salamanca', city='Ciudad Rodrigo', sum(46to65)=3647, sum(66to80)=2222, sum(16to30)=2185, sum(over80)=1092, sum(31to45)=2769, sum(under16)=1741, total Population=13656),
 Row(county='león', city='Astorga', sum(46to65)=3055, sum(66to80)=1882, sum(16to30)=1875, sum(over80)=1043, sum(31to45)=2480, sum(under16)=1469, total Population=11804),
 Row(county='león', city='Bañeza, La', sum(46to65)=2820, sum(66to80)=1507, sum(16to30)=1873, sum(over80)=661, sum(31to45)=2368, sum(under16)=1531, total Population=10760),
 Row(county='león', city='Villablino', sum(46to65)=3123, sum(66to80)=1387, sum(16to30)=1838, sum(over80)=702, sum(31to45)=2079, sum(under16)=1111, total Population=10240),
 Row(county='león', city='Bembibre', sum(46to65)=2762, sum(66to80)=1270, sum(16to30)=1948, sum(over80)=580, sum(31to45)=2075, sum(under16)=1216, total Population=9851),
 Row(county='segovia', city='Cuéllar', sum(46to65)=2549, sum(66to80)=1333, sum(16to30)=1558, sum(over80)=572, sum(31to45)=2355, sum(under16)=1344, total Population=9711),
 Row(county='segovia', city='Espinar, El', sum(46to65)=2282, sum(66to80)=872, sum(16to30)=1627, sum(over80)=353, sum(31to45)=2797, sum(under16)=1769, total Population=9700),
 Row(county='zamora', city='Toro', sum(46to65)=2559, sum(66to80)=1435, sum(16to30)=1687, sum(over80)=673, sum(31to45)=2016, sum(under16)=1216, total Population=9586),
 Row(county='valladolid', city='Tordesillas', sum(46to65)=2463, sum(66to80)=994, sum(16to30)=1605, sum(over80)=355, sum(31to45)=2349, sum(under16)=1294, total Population=9060),
 Row(county='valladolid', city='Tudela de Duero', sum(46to65)=2142, sum(66to80)=821, sum(16to30)=1281, sum(over80)=296, sum(31to45)=2665, sum(under16)=1580, total Population=8785),
 Row(county='valladolid', city='Cistérniga', sum(46to65)=1692, sum(66to80)=383, sum(16to30)=1205, sum(over80)=105, sum(31to45)=3226, sum(under16)=1791, total Population=8402),
 Row(county='ávila', city='Arévalo', sum(46to65)=2081, sum(66to80)=902, sum(16to30)=1420, sum(over80)=362, sum(31to45)=1947, sum(under16)=1387, total Population=8099),
 Row(county='burgos', city='Briviesca', sum(46to65)=1846, sum(66to80)=747, sum(16to30)=1348, sum(over80)=400, sum(31to45)=1981, sum(under16)=1266, total Population=7588),
 Row(county='palencia', city='Aguilar de Campoo', sum(46to65)=2123, sum(66to80)=943, sum(16to30)=1188, sum(over80)=505, sum(31to45)=1500, sum(under16)=906, total Population=7165),
 Row(county='palencia', city='Guardo', sum(46to65)=2182, sum(66to80)=939, sum(16to30)=1308, sum(over80)=484, sum(31to45)=1364, sum(under16)=779, total Population=7056),
 Row(county='león', city='Valverde de la Virgen', sum(46to65)=1521, sum(66to80)=572, sum(16to30)=1322, sum(over80)=280, sum(31to45)=2161, sum(under16)=1167, total Population=7023),
 Row(county='ávila', city='Arenas de San Pedro', sum(46to65)=1970, sum(66to80)=996, sum(16to30)=1047, sum(over80)=481, sum(31to45)=1442, sum(under16)=934, total Population=6870),
 Row(county='salamanca', city='Peñaranda de Bracamonte', sum(46to65)=1762, sum(66to80)=884, sum(16to30)=1259, sum(over80)=379, sum(31to45)=1522, sum(under16)=957, total Population=6763),
 Row(county='valladolid', city='Íscar', sum(46to65)=1794, sum(66to80)=716, sum(16to30)=1293, sum(over80)=330, sum(31to45)=1655, sum(under16)=958, total Population=6746),
 Row(county='salamanca', city='Villamayor', sum(46to65)=1586, sum(66to80)=327, sum(16to30)=1040, sum(over80)=117, sum(31to45)=2082, sum(under16)=1525, total Population=6677),
 Row(county='palencia', city='Venta de Baños', sum(46to65)=1795, sum(66to80)=795, sum(16to30)=1153, sum(over80)=401, sum(31to45)=1528, sum(under16)=815, total Population=6487),
 Row(county='salamanca', city='Carbajosa de la Sagrada', sum(46to65)=1117, sum(66to80)=224, sum(16to30)=949, sum(over80)=58, sum(31to45)=2400, sum(under16)=1723, total Population=6471),
 Row(county='palencia', city='Villamuriel de Cerrato', sum(46to65)=1748, sum(66to80)=334, sum(16to30)=1150, sum(over80)=131, sum(31to45)=1810, sum(under16)=1129, total Population=6302),
 Row(county='burgos', city='Medina de Pomar', sum(46to65)=1635, sum(66to80)=782, sum(16to30)=957, sum(over80)=389, sum(31to45)=1560, sum(under16)=875, total Population=6198),
 Row(county='salamanca', city='Villares de la Reina', sum(46to65)=1252, sum(66to80)=331, sum(16to30)=1074, sum(over80)=79, sum(31to45)=2032, sum(under16)=1236, total Population=6004),
 Row(county='salamanca', city='Guijuelo', sum(46to65)=1339, sum(66to80)=633, sum(16to30)=1229, sum(over80)=278, sum(31to45)=1468, sum(under16)=1049, total Population=5996),
 Row(county='soria', city='Almazán', sum(46to65)=1487, sum(66to80)=766, sum(16to30)=1039, sum(over80)=443, sum(31to45)=1281, sum(under16)=867, total Population=5883),
 Row(county='valladolid', city='Zaratán', sum(46to65)=993, sum(66to80)=228, sum(16to30)=783, sum(over80)=103, sum(31to45)=2424, sum(under16)=1277, total Population=5808),
 Row(county='ávila', city='Navas del Marqués, Las', sum(46to65)=1266, sum(66to80)=587, sum(16to30)=1117, sum(over80)=250, sum(31to45)=1355, sum(under16)=1155, total Population=5730),
 Row(county='segovia', city='Real Sitio de San Ildefonso', sum(46to65)=1558, sum(66to80)=609, sum(16to30)=957, sum(over80)=315, sum(31to45)=1364, sum(under16)=816, total Population=5619),
 Row(county='valladolid', city='Peñafiel', sum(46to65)=1461, sum(66to80)=657, sum(16to30)=915, sum(over80)=361, sum(31to45)=1238, sum(under16)=835, total Population=5467),
 Row(county='león', city='Cacabelos', sum(46to65)=1421, sum(66to80)=890, sum(16to30)=853, sum(over80)=364, sum(31to45)=1228, sum(under16)=705, total Population=5461),
 Row(county='salamanca', city='Alba de Tormes', sum(46to65)=1367, sum(66to80)=638, sum(16to30)=964, sum(over80)=314, sum(31to45)=1283, sum(under16)=821, total Population=5387),
 Row(county='valladolid', city='Simancas', sum(46to65)=1526, sum(66to80)=336, sum(16to30)=897, sum(over80)=99, sum(31to45)=1336, sum(under16)=1137, total Population=5331),
 Row(county='ávila', city='Candeleda', sum(46to65)=1388, sum(66to80)=834, sum(16to30)=823, sum(over80)=410, sum(31to45)=1087, sum(under16)=682, total Population=5224),
 Row(county='soria', city='Burgo de Osma-Ciudad de Osma', sum(46to65)=1273, sum(66to80)=745, sum(16to30)=812, sum(over80)=505, sum(31to45)=1103, sum(under16)=750, total Population=5188),
 Row(county='león', city='Fabero', sum(46to65)=1512, sum(66to80)=759, sum(16to30)=966, sum(over80)=320, sum(31to45)=1053, sum(under16)=527, total Population=5137),
 Row(county='león', city='Valencia de Don Juan', sum(46to65)=1215, sum(66to80)=670, sum(16to30)=849, sum(over80)=311, sum(31to45)=1304, sum(under16)=760, total Population=5109),
 Row(county='valladolid', city='Medina de Rioseco', sum(46to65)=1340, sum(66to80)=604, sum(16to30)=859, sum(over80)=362, sum(31to45)=1107, sum(under16)=626, total Population=4898),
 Row(county='ávila', city='Sotillo de la Adrada', sum(46to65)=1089, sum(66to80)=585, sum(16to30)=876, sum(over80)=269, sum(31to45)=1166, sum(under16)=821, total Population=4806),
 Row(county='valladolid', city='Cigales', sum(46to65)=966, sum(66to80)=354, sum(16to30)=776, sum(over80)=121, sum(31to45)=1620, sum(under16)=966, total Population=4803),
 Row(county='león', city='Sariegos', sum(46to65)=1440, sum(66to80)=397, sum(16to30)=792, sum(over80)=154, sum(31to45)=1089, sum(under16)=787, total Population=4659),
 Row(county='burgos', city='Villarcayo de Merindad de Castilla la Vieja', sum(46to65)=1231, sum(66to80)=609, sum(16to30)=714, sum(over80)=350, sum(31to45)=1109, sum(under16)=599, total Population=4612),
 Row(county='león', city='Robla, La', sum(46to65)=1325, sum(66to80)=611, sum(16to30)=804, sum(over80)=304, sum(31to45)=1041, sum(under16)=494, total Population=4579),
 Row(county='segovia', city='Palazuelos de Eresma', sum(46to65)=865, sum(66to80)=231, sum(16to30)=648, sum(over80)=104, sum(31to45)=1665, sum(under16)=1047, total Population=4560),
 Row(county='valladolid', city='Aldeamayor de San Martín', sum(46to65)=780, sum(66to80)=239, sum(16to30)=712, sum(over80)=73, sum(31to45)=1864, sum(under16)=852, total Population=4520),
 Row(county='ávila', city='Tiemblo, El', sum(46to65)=1108, sum(66to80)=574, sum(16to30)=744, sum(over80)=311, sum(31to45)=983, sum(under16)=695, total Population=4415),
 Row(county='león', city='Camponaraya', sum(46to65)=1084, sum(66to80)=518, sum(16to30)=734, sum(over80)=218, sum(31to45)=1074, sum(under16)=573, total Population=4201),
 Row(county='salamanca', city='Cabrerizos', sum(46to65)=1096, sum(66to80)=259, sum(16to30)=604, sum(over80)=77, sum(31to45)=1106, sum(under16)=928, total Population=4070),
 Row(county='valladolid', city='Santovenia de Pisuerga', sum(46to65)=845, sum(66to80)=219, sum(16to30)=659, sum(over80)=94, sum(31to45)=1420, sum(under16)=744, total Population=3981),
 Row(county='segovia', city='Cantalejo', sum(46to65)=934, sum(66to80)=549, sum(16to30)=710, sum(over80)=260, sum(31to45)=885, sum(under16)=587, total Population=3925),
 Row(county='león', city='Pola de Gordón, La', sum(46to65)=1144, sum(66to80)=659, sum(16to30)=661, sum(over80)=466, sum(31to45)=702, sum(under16)=275, total Population=3907),
 Row(county='valladolid', city='Boecillo', sum(46to65)=880, sum(66to80)=238, sum(16to30)=545, sum(over80)=64, sum(31to45)=1315, sum(under16)=856, total Population=3898),
 Row(county='burgos', city='Valle de Mena', sum(46to65)=1076, sum(66to80)=512, sum(16to30)=501, sum(over80)=342, sum(31to45)=966, sum(under16)=499, total Population=3896),
 Row(county='valladolid', city='Olmedo', sum(46to65)=1034, sum(66to80)=443, sum(16to30)=673, sum(over80)=249, sum(31to45)=929, sum(under16)=506, total Population=3834),
 Row(county='soria', city='Ã\x93lvega', sum(46to65)=909, sum(66to80)=456, sum(16to30)=635, sum(over80)=180, sum(31to45)=1026, sum(under16)=621, total Population=3827),
 Row(county='león', city='Carracedelo', sum(46to65)=1050, sum(66to80)=678, sum(16to30)=579, sum(over80)=332, sum(31to45)=709, sum(under16)=326, total Population=3674),
 Row(county='león', city='Cistierna', sum(46to65)=1094, sum(66to80)=591, sum(16to30)=571, sum(over80)=382, sum(31to45)=680, sum(under16)=349, total Population=3667),
 Row(county='león', city='Toreno', sum(46to65)=1053, sum(66to80)=571, sum(16to30)=647, sum(over80)=317, sum(31to45)=702, sum(under16)=308, total Population=3598),
 Row(county='valladolid', city='Pedrajas de San Esteban', sum(46to65)=970, sum(66to80)=397, sum(16to30)=646, sum(over80)=159, sum(31to45)=874, sum(under16)=534, total Population=3580),
 Row(county='valladolid', city='Cabezón de Pisuerga', sum(46to65)=723, sum(66to80)=232, sum(16to30)=539, sum(over80)=118, sum(31to45)=1249, sum(under16)=698, total Population=3559),
 Row(county='ávila', city='Cebreros', sum(46to65)=884, sum(66to80)=576, sum(16to30)=538, sum(over80)=279, sum(31to45)=708, sum(under16)=522, total Population=3507),
 Row(county='segovia', city='Lastrilla, La', sum(46to65)=929, sum(66to80)=167, sum(16to30)=619, sum(over80)=41, sum(31to45)=982, sum(under16)=747, total Population=3485),
 Row(county='león', city='Villafranca del Bierzo', sum(46to65)=944, sum(66to80)=748, sum(16to30)=463, sum(over80)=352, sum(31to45)=628, sum(under16)=289, total Population=3424),
 Row(county='salamanca', city='Terradillos', sum(46to65)=910, sum(66to80)=249, sum(16to30)=696, sum(over80)=78, sum(31to45)=865, sum(under16)=555, total Population=3353),
 Row(county='valladolid', city='Mojados', sum(46to65)=858, sum(66to80)=282, sum(16to30)=601, sum(over80)=141, sum(31to45)=903, sum(under16)=495, total Population=3280),
 Row(county='león', city='Villarejo de Ã\x93rbigo', sum(46to65)=832, sum(66to80)=634, sum(16to30)=493, sum(over80)=339, sum(31to45)=625, sum(under16)=301, total Population=3224),
 Row(county='valladolid', city='Renedo de Esgueva', sum(46to65)=652, sum(66to80)=140, sum(16to30)=454, sum(over80)=37, sum(31to45)=1212, sum(under16)=726, total Population=3221),
 Row(county='soria', city='San Esteban de Gormaz', sum(46to65)=869, sum(66to80)=488, sum(16to30)=484, sum(over80)=360, sum(31to45)=604, sum(under16)=383, total Population=3188),
 Row(county='león', city='Santa María del Páramo', sum(46to65)=876, sum(66to80)=471, sum(16to30)=583, sum(over80)=174, sum(31to45)=688, sum(under16)=382, total Population=3174),
 Row(county='soria', city='Ágreda', sum(46to65)=805, sum(66to80)=486, sum(16to30)=486, sum(over80)=261, sum(31to45)=660, sum(under16)=470, total Population=3168),
 Row(county='palencia', city='Saldaña', sum(46to65)=890, sum(66to80)=382, sum(16to30)=493, sum(over80)=196, sum(31to45)=689, sum(under16)=402, total Population=3052),
 Row(county='segovia', city='Nava de la Asunción', sum(46to65)=715, sum(66to80)=428, sum(16to30)=479, sum(over80)=229, sum(31to45)=710, sum(under16)=401, total Population=2962),
 Row(county='segovia', city='San Cristóbal de Segovia', sum(46to65)=582, sum(66to80)=84, sum(16to30)=448, sum(over80)=29, sum(31to45)=943, sum(under16)=796, total Population=2882),
 Row(county='zamora', city='Morales del Vino', sum(46to65)=768, sum(66to80)=279, sum(16to30)=429, sum(over80)=100, sum(31to45)=800, sum(under16)=479, total Population=2855),
 Row(county='salamanca', city='Vitigudino', sum(46to65)=808, sum(66to80)=411, sum(16to30)=534, sum(over80)=228, sum(31to45)=532, sum(under16)=342, total Population=2855),
 Row(county='león', city='Sahagún', sum(46to65)=773, sum(66to80)=470, sum(16to30)=405, sum(over80)=366, sum(31to45)=549, sum(under16)=268, total Population=2831),
 Row(county='palencia', city='Dueñas', sum(46to65)=866, sum(66to80)=365, sum(16to30)=462, sum(over80)=189, sum(31to45)=606, sum(under16)=315, total Population=2803),
 Row(county='burgos', city='Lerma', sum(46to65)=694, sum(66to80)=380, sum(16to30)=454, sum(over80)=172, sum(31to45)=673, sum(under16)=409, total Population=2782),
 Row(county='león', city='Benavides', sum(46to65)=686, sum(66to80)=525, sum(16to30)=416, sum(over80)=297, sum(31to45)=555, sum(under16)=276, total Population=2755),
 Row(county='ávila', city='Barco de Ávila, El', sum(46to65)=671, sum(66to80)=427, sum(16to30)=434, sum(over80)=193, sum(31to45)=594, sum(under16)=372, total Population=2691),
 Row(county='ávila', city='Adrada, La', sum(46to65)=704, sum(66to80)=297, sum(16to30)=426, sum(over80)=147, sum(31to45)=676, sum(under16)=434, total Population=2684),
 Row(county='segovia', city='Carbonero el Mayor', sum(46to65)=606, sum(66to80)=364, sum(16to30)=448, sum(over80)=205, sum(31to45)=559, sum(under16)=396, total Population=2578),
 Row(county='palencia', city='Cervera de Pisuerga', sum(46to65)=695, sum(66to80)=393, sum(16to30)=382, sum(over80)=254, sum(31to45)=540, sum(under16)=301, total Population=2565),
 Row(county='león', city='Carrizo', sum(46to65)=682, sum(66to80)=453, sum(16to30)=417, sum(over80)=217, sum(31to45)=488, sum(under16)=248, total Population=2505),
 Row(county='valladolid', city='Portillo', sum(46to65)=727, sum(66to80)=334, sum(16to30)=401, sum(over80)=177, sum(31to45)=603, sum(under16)=261, total Population=2503),
 Row(county='león', city='Torre del Bierzo', sum(46to65)=761, sum(66to80)=397, sum(16to30)=417, sum(over80)=174, sum(31to45)=481, sum(under16)=224, total Population=2454),
 Row(county='burgos', city='Roa', sum(46to65)=604, sum(66to80)=351, sum(16to30)=440, sum(over80)=197, sum(31to45)=546, sum(under16)=314, total Population=2452),
 Row(county='león', city='Vega de Espinareda', sum(46to65)=738, sum(66to80)=449, sum(16to30)=403, sum(over80)=229, sum(31to45)=422, sum(under16)=183, total Population=2424),
 Row(county='segovia', city='Riaza', sum(46to65)=577, sum(66to80)=225, sum(16to30)=455, sum(over80)=127, sum(31to45)=606, sum(under16)=430, total Population=2420),
 Row(county='león', city='Chozas de Abajo', sum(46to65)=629, sum(66to80)=387, sum(16to30)=372, sum(over80)=203, sum(31to45)=568, sum(under16)=252, total Population=2411),
 Row(county='ávila', city='Hoyo de Pinares, El', sum(46to65)=614, sum(66to80)=334, sum(16to30)=395, sum(over80)=159, sum(31to45)=530, sum(under16)=369, total Population=2401),
 Row(county='valladolid', city='Villanubla', sum(46to65)=413, sum(66to80)=158, sum(16to30)=340, sum(over80)=71, sum(31to45)=928, sum(under16)=454, total Population=2364),
 Row(county='ávila', city='Piedralaves', sum(46to65)=598, sum(66to80)=339, sum(16to30)=313, sum(over80)=150, sum(31to45)=556, sum(under16)=333, total Population=2289),